<template>
  <div class="shipping-section">
    <div class="row middle-xs pt10 pb15 section-title">
      <div class="col-auto col-md-1 number-circle-wrap">
        <div
          class="number-circle lh35 cl-white brdr-circle align-center weight-700"
          :class="{ 'bg-cl-black-2D242D' : isActive || isFilled, 'bg-cl-gray-969196' : !isFilled && !isActive }"
        >
          2
        </div>
      </div>
      <div class="col-xs col-md-11 pl0">
        <div class="flex between-xs middle-xs">
          <div class="" :class="{'cl-black-2D242D' : isActive || isFilled,'cl-gray-969196' : !isFilled && !isActive }">
            <h3 class="m0 lh35 f-s-16 a-bold pl10">
              {{ $t('Shipping') }}
            </h3>
          </div>
          <div class="">
            <div class="lh30 flex end-lg" v-if="isFilled && !isActive">
              <a href="#" class="cl-gray-969196 weight-600 f-s-14 flex middle-xs" @click.prevent="edit">
                <span class="pr15 edit-icon">
                  {{ $t('Edit shipping') }}
                </span>
                <i class="material-icons cl-gray-969196 f-s-20">edit</i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" v-if="isActive">
      <div class="hidden-xs col-sm-2 col-md-1" />
      <div class="col-xs-12 col-md-10 info-wrap">
        <div class="row">
          <base-checkbox
            v-if="currentUser && hasShippingDetails()"
            class="col-xs-12 mb10 check-box"
            id="shipToMyAddressCheckbox"
            v-model="shipToMyAddress"
          >
            {{ $t('Ship to my default address') }}
          </base-checkbox>

          <base-input
            class="col-xs-12 col-sm-6 mb10"
            type="text"
            name="first-name"
            :placeholder="$t('First name *')"
            v-model.trim="shipping.firstName"
            @blur="$v.shipping.firstName.$touch()"
            autocomplete="given-name"
            :validations="[
              {
                condition: $v.shipping.firstName.$error && !$v.shipping.firstName.required,
                text: $t('Field is required')
              },
              {
                condition: !$v.shipping.firstName.minLength,
                text: $t('Name must have at least 2 letters.')
              }
            ]"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb10"
            type="text"
            name="last-name"
            :placeholder="$t('Last name *')"
            v-model.trim="shipping.lastName"
            @blur="$v.shipping.lastName.$touch()"
            autocomplete="family-name"
            :validations="[{
              condition: $v.shipping.lastName.$error && !$v.shipping.lastName.required,
              text: $t('Field is required')
            }]"
          />

          <base-input
            class="col-xs-12 col-sm-9 mb10"
            type="text"
            name="city"
            :placeholder="$t('City / Area*')"
            v-model.trim="shipping.city"
            @blur="$v.shipping.city.$touch()"
            autocomplete="address-level2"
            :validations="[
              {
                condition: $v.shipping.city.$error && !$v.shipping.city.required,
                text: $t('Field is required')
              },
              {
                condition: $v.shipping.city.$error && $v.shipping.city.required,
                text: $t('Please provide valid city name')
              }
            ]"
          />

          <base-input
            class="col-xs-12 col-sm-3 mb15"
            type="text"
            name="block"
            :placeholder="$t('Block*')"
            v-model.trim="shipping.block"
            autocomplete="address-level3"
          />

          <base-input
            class="col-xs-12 col-sm-9 mb10"
            type="text"
            name="street-address"
            :placeholder="$t('Street Name / Number*')"
            v-model.trim="shipping.streetAddress"
            @blur="$v.shipping.streetAddress.$touch()"
            autocomplete="address-line1"
            :validations="[{
              condition: $v.shipping.streetAddress.$error && !$v.shipping.streetAddress.required,
              text: $t('Field is required')
            }]"
          />

          <base-input
            class="col-xs-12 col-sm-3 mb15"
            type="text"
            name="floorApartment"
            :placeholder="$t('Floor / Apartment')"
            v-model.trim="shipping.floorApartment"
            autocomplete="tel"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb10"
            type="text"
            name="apartment-number"
            :placeholder="$t('House Number*')"
            v-model.trim="shipping.apartmentNumber"
            @blur="$v.shipping.apartmentNumber.$touch()"
            autocomplete="address-line2"
            :validations="[{
              condition: $v.shipping.apartmentNumber.$error && !$v.shipping.apartmentNumber.required,
              text: $t('Field is required')
            }]"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb15"
            type="text"
            name="jaddahAvenue"
            :placeholder="$t('Jaddah / Avenue')"
            v-model.trim="shipping.jaddahAvenue"
            autocomplete="tel"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb10"
            type="text"
            name="zip-code"
            :placeholder="$t('Postal Code*')"
            v-model.trim="shipping.zipCode"
            @blur="$v.shipping.zipCode.$touch()"
            autocomplete="postal-code"
            :validations="[
              {
                condition: $v.shipping.zipCode.$error && !$v.shipping.zipCode.required,
                text: $t('Field is required')
              },
              {
                condition: !$v.shipping.zipCode.minLength,
                text: $t('Name must have at least 3 letters.')
              }
            ]"
          />
          <base-input
            class="col-xs-12 col-sm-6 mb10"
            type="text"
            name="state"
            :placeholder="$t('State / Province')"
            v-model.trim="shipping.state"
            autocomplete="address-level1"
          />
          <base-input
            class="col-xs-12 mb15"
            type="text"
            name="phone-number"
            :placeholder="$t('Mobile Number*')"
            v-model.trim="shipping.phoneNumber"
            autocomplete="tel"
          />
          <h4 class="col-xs-12 cl-black-2D242D weight-600 f-s-14 mb10">
            {{ $t('Shipping Method') }}
          </h4>
          <div class="flex col-xs-12 mb30 shipping-method-wrap">
            <div v-for="(method, index) in shippingMethods" :key="index" class="radioStyled2">
              <label class="radioStyled mr10">
                <span class="weight-600">
                  {{ $t(method.method_title) }}
                </span>
                <span>
                  {{ method.amount | price(storeView) }}
                </span>
                <input
                  type="radio"
                  :value="method.method_code"
                  name="shipping-method"
                  v-model="shipping.shippingMethod"
                  @change="$v.shipping.shippingMethod.$touch(); changeShippingMethod();"
                >
                <span class="checkmark" />
              </label>
            </div>
          </div>
          <span class="validation-error" v-if="$v.shipping.shippingMethod.$error && !$v.shipping.shippingMethod.required">
            {{ $t('Field is required') }}
          </span>
        </div>
      </div>
    </div>
    <div class="row" v-if="isActive">
      <div class="hidden-xs col-sm-2 col-md-1" />
      <div class="col-xs-12 col-md-11">
        <div class="row mt0 mb20">
          <div class="col-xs-12 col-md-6 info-wrap ac-btn-container btn-row">
            <button-full
              class="btn-secondary"
              data-testid="shippingSubmit"
              @click.native="sendDataToCheckout"
              :disabled="$v.shipping.$invalid || shippingMethods.length <= 0"
            >
              {{ $t('Continue to payment') }}
            </button-full>
          </div>
        </div>
      </div>
    </div>
    <div class="row" v-if="!isActive && isFilled">
      <div class="hidden-xs col-sm-2 col-md-1" />
      <div class="col-xs-12 col-md-11">
        <div class="row fs16 mb15">
          <div class="col-xs-12 h4 info-wrap" data-testid="shippingAddressSummary">
            <div class="sp-address f-s-14 weight-500 cl-block-2D242D lh20">
              <p class="m0">
                {{ shipping.firstName }} {{ shipping.lastName }}
              </p>
              <p class="m0">
                {{ shipping.streetAddress }} {{ shipping.apartmentNumber }}
              </p>
              <p class="m0">
                {{ shipping.city }} {{ shipping.zipCode }}
              </p>
              <p class="m0">
                <span v-if="shipping.state">{{ shipping.state }}, </span>
                <span>{{ getCountryName() }}</span>
              </p>
              <p v-if="shipping.phoneNumber" class="sp-p-address mt15">
                <span class="pr15">{{ shipping.phoneNumber }}</span>
              </p>
            </div>
            <div class="col-xs-12 pl0">
              <h4 class="cl-block-2D242D weight-600 f-s-14 mt30 mb10">
                {{ $t('Shipping Method') }}
              </h4>
            </div>
            <div class="col-md-6 mb0 pl0">
              <div class="sp-container brdr-1 brdr-cl-block-2D242D border-r py10 px25 cl-block-2D242D shipping-label">
                <span class="f-s-13 weight-600">
                  {{ getShippingMethod().amount | price(storeView) }}
                </span><br>
                <span class="f-s-13 a-regular">
                  {{ getShippingMethod().method_title }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minLength } from 'vuelidate/lib/validators'
import { unicodeAlpha, unicodeAlphaNum } from '@vue-storefront/core/helpers/validators'
import { Shipping } from '@vue-storefront/core/modules/checkout/components/Shipping'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'

import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
// import BaseSelect from 'theme/components/core/blocks/Form/BaseSelect'
import ButtonFull from 'theme/components/theme/ButtonFull'
// import Tooltip from 'theme/components/core/Tooltip'

export default {
  components: {
    ButtonFull,
    // Tooltip,
    BaseCheckbox,
    BaseInput
    // BaseSelect
  },
  mixins: [Shipping],
  computed: {
    countryOptions () {
      return this.countries.map((item) => {
        return {
          value: item.code,
          label: item.name
        }
      })
    },
    storeView () {
      return currentStoreView()
    }
  },
  validations: {
    shipping: {
      firstName: {
        required,
        minLength: minLength(2),
        unicodeAlpha
      },
      lastName: {
        required,
        unicodeAlpha
      },
      country: {
        required
      },
      streetAddress: {
        required,
        unicodeAlphaNum
      },
      apartmentNumber: {
        required,
        unicodeAlphaNum
      },
      shippingMethod: {
        required
      },
      zipCode: {
        required,
        minLength: minLength(3),
        unicodeAlphaNum
      },
      city: {
        required,
        unicodeAlpha
      }
    }
  }
}
</script>
<style lang="scss">
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $color-event: color(green-95BF47);
  $black-2D242D: color(black-2D242D);
#checkout{
  .radioStyled2{
    .radioStyled{
      padding: 0;
      font-size: 13px;
      position: relative;
      width: 150px;
      height: 55px;
      line-height: 55px;
      text-align: center;
      padding: 11px 20px 0;
      span{
        display: block;
        line-height: 1.3;
      }
      .checkmark{
        position: absolute;
        border-radius: 6px;
        width: 100%;
        height: 100%;
        &:before{
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          display: block;
          background:transparent;
          border: 1px solid rgba(45, 36, 45, 0.25);
          left: 0;
          top: 0;
          border-radius: 6px;
        }
        &:after{
          width: 12px;
          height: 12px;
          display: block;
          background:transparent;
          border: 1px solid rgba(45, 36, 45, 0.25);
          left: 130px;
          top: 5px;
          background-size: 14px;
        }
      }
      input:checked ~ .checkmark:after{
        background: url(/assets/icons/true.svg) no-repeat;
        border: 0px;
        width: 14px;
        height: 14px;
        background-size: 14px;
        left: 132px;
        top: 5px;
        border-radius: 0;
      }
      input:checked ~ .checkmark:before{
        border: 1px solid #2D242D;
      }
    }
  }
  .shipping-label{
    max-width: 150px;
    text-align: center;
    line-height: 19px;
    background: url(/assets/icons/true.svg) no-repeat right 5px top 5px;
    background-size: 14px;
  }
}
</style>
