<template>
  <select class="main-qty cl-black-2D242D f-s-14 bg-cl-transparent a-bold">
    <option v-for="(pQty, index) of qtyList" :key="index" :value="pQty" :selected="qty === pQty">
      {{ pQty }}
    </option>
  </select>
</template>
<script>
import config from 'config';
export default {
  name: 'QtySelect',
  data () {
    return {
      qtyList: config.aureatelabs.qtySelect.values
    };
  },
  props: {
    qty: {
      type: Number,
      required: false
    }
  }
};
</script>
<style lang="scss" scoped>
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
$gray-969196: color(gray-969196);

.main-qty {
  border-radius: 6px;
  border: 1px solid $gray-969196;
  height: auto;
}
@media (max-width: 767px) {
  .main-qty {
    font-size: 12px;
  }
}

</style>
