<template>
  <div class="ac-px40">
    <!-- My orders header -->
    <div class="flex top-xs between-xs brdr-bottom-1 brdr-cl-gray-E5E5E5 ma-title-row">
      <h3 class="m0 weight-600 f-s-18 flex middle-xs">
        <img :src="'/assets/icons/MyOrder-hover.svg'" class="acc-link pr15" alt="My orders">
        {{ $t('My Orders') }}
      </h3>
    </div>
    <!-- My orders body -->
    <div class="row pt40 orders-body">
      <div class="col-xs-12" v-show="!isHistoryEmpty">
        <table class="" cellspacing="0">
          <thead>
            <tr class="hidden-mx">
              <th class="p20 lh20">
                {{ $t('Order ID') }}
              </th>
              <th class="p20 a-bold lh20">
                {{ $t('Date and time') }}
              </th>
              <th class="p20 a-bold lh20">
                {{ $t('Author') }}
              </th>
              <th class="p20 a-bold lh20">
                {{ $t('Value') }}
              </th>
              <th class="p20 a-bold lh20">
                {{ $t('Type') }}
              </th>
              <th class="p20 a-bold lh20">
                {{ $t('Status') }}
              </th>
              <th class="p20 a-bold lh20" />
            </tr>
          </thead>
          <tbody>
            <tr class="brdr-top-1 brdr-cl-bg-secondary" v-for="order in ordersHistory" :key="order.entity_id">
              <td class="f-s-14 lh25">
                <span class="hidden-dx">
                  {{ $t('Order ID') }}
                </span>
                <span>
                  #{{ order.increment_id }}
                </span>
              </td>
              <td class="f-s-14 lh25">
                <span class="hidden-dx">
                  {{ $t('Date and time') }}
                </span>
                <span>
                  {{ order.created_at | date(null, storeView) }}
                </span>
              </td>
              <td class="f-s-14 lh25">
                <span class="hidden-dx">
                  {{ $t('Author') }}
                </span>
                <span>
                  {{ order.customer_firstname }} {{ order.customer_lastname }}
                </span>
              </td>
              <td class="f-s-14 lh25">
                <span class="hidden-dx">
                  {{ $t('Value') }}
                </span>
                <span>
                  {{ order.grand_total | price(storeView) }}
                </span>
              </td>
              <td class="f-s-14 lh25">
                <span class="hidden-dx">
                  {{ $t('Type') }}
                </span>
                <span>
                  {{ $t('Purchase') }}
                </span>
              </td>
              <td class="f-s-14 lh25">
                <span class="hidden-dx">
                  {{ $t('Status') }}
                </span>
                <span>
                  {{ $t(order.status) | capitalize }}
                </span>
              </td>
              <td class="f-s-14 lh25">
                <span class="relative dropdown">
                  <i class="material-icons cl-black-2D242D pointer">more_horiz</i>
                  <div class="dropdown-content bg-cl-white align-left lh20">
                    <router-link class="no-underline cl-black-2D242D block py10 px15 a-medium" :to="localizedRoute(`/my-account/orders/${order.entity_id}`)">
                      {{ $t('View order') }}
                    </router-link>
                    <a href="#" class="a-medium no-underline cl-black-2D242D block py10 px15" @click.prevent="remakeOrder(skipGrouped(order.items))">{{ $t('Remake order') }}</a>
                  </div>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xs-12" v-show="isHistoryEmpty">
        <p class="m0 p0 f-s-20 cl-black-2D242D a-bold">
          {{ $t('No orders yet') }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import UserOrder from '@vue-storefront/core/modules/order/components/UserOrdersHistory'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'

export default {
  mixins: [UserOrder],
  computed: {
    storeView () {
      return currentStoreView()
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/base/global_vars';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-icon-hover: color(secondary, $colors-background);
$gray-E5E5E5: color(gray-E5E5E5);
$white-F5F5F5: color(white-F5F5F5);
table {
  border: 1px solid $gray-E5E5E5;
  border-radius:7px;
  width: 100%;
  thead{
    tr{
      overflow-x: hidden;
      th{
        font-weight: 600;
        background: $white-F5F5F5;
        &:first-child{
          border-radius:7px 0 0 0;
        }
        &:last-child{
          border-radius:0 7px 0 0;
        }
      }
    }
  }
  th, td {
    text-align: center;
    padding: 20px;

    @media (max-width: 1199px) {
      padding: 5px;
    }

    @media (max-width: 767px) {
      text-align: center;
    }

    &.hide-on-xs {

      @media (max-width: 767px) {
        display: none;
      }

    }
  }
  td{
    border-top: solid 1px $gray-E5E5E5;
    @media (max-width: 767px) {
      border-top: 0px;
    }
  }

  i {
    vertical-align: middle;
  }

}

.dropdown {
  display: block;
  margin: -20px;
  padding: 20px;

  @media (max-width: 1199px) {
    margin: -10px;
    padding: 10px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 10px;
    top: 45px;
    width: 160px;
    z-index: 1;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.14);
    border-radius: 4px;
  }

  a {
    &:hover,
    &:focus {
      background-color: $white-F5F5F5;
      opacity: 1;
    }
  }

  &:hover .dropdown-content {
    display: block;
  }
}
#my_account{
  .dropdown{
    @media (max-width: 767px) {
      .dropdown-content{
        a{
          padding: 10px !important;
        }
      }
    }
  }
}

</style>
