<template>
  <div class="ac-px40 address-book">
    <!-- My shipping details header -->
    <div class="flex top-xs between-xs brdr-bottom-1 brdr-cl-gray-E5E5E5 ma-title-row">
      <h3 class="m0 weight-600 f-s-18 flex middle-xs">
        <img :src="'/assets/icons/DeliveryDetails-hover.svg'" class="acc-link pr15" alt="My shipping details">
        {{ $t('Address Book') }}
      </h3>
    </div>
    <customer-address />
  </div>
</template>

<script>
import CustomerAddress from 'src/modules/address-book/components/CustomerAddress.vue'

export default {
  components: {
    CustomerAddress
  }
}
</script>
<style lang="scss" scoped>
.sd-address {
  p {
    margin: 0
  }
}
select{
  padding-left: 0px;
  padding-right: 0px;
}
.mw-140 {
  min-width: 140px;
}
</style>
