<template>
  <div class="ac-px40">
    <div class="flex top-xs between-xs brdr-bottom-1 brdr-cl-gray-E5E5E5 ma-title-row">
      <h3 class="m0 weight-600 f-s-18 flex middle-xs">
        <img :src="'/assets/icons/payment-icon.svg'" class="acc-link pr15" alt="Payment Methods">
        {{ $t('Payment Methods') }}
      </h3>
    </div>
    <div class="row recently-list payment-methods">
      <div class="card-list flex" v-if="tokenList && tokenList.length > 0">
        <div class="card-item" v-for="(cardItem, index) in tokenList" :key="index">
          <div class="item-box">
            <span class="card-type" :class="cardItem.brand" />
            <div class="card-details">
              <strong>{{ cardItem.number }}</strong>
              <strong>{{ cardItem.name }}</strong>
              <strong>{{ cardItem.updated }}</strong>
            </div>
            <div class="button-box">
              <button class="edit">
                <img src="/assets/icons/edit.svg" alt="">
              </button>
              <button class="delete">
                <img src="/assets/icons/delete.svg" alt="">
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 h4" v-else>
        <p>{{ $t('No payment methods yet') }}</p>
      </div>
    </div>
  </div>
</template>

<script>

import { mapGetters } from 'vuex'

export default {
  name: 'PaymentMethods',
  data () {
    return {
      currentUser: Object.assign({}, this.$store.state.user.current)
    }
  },
  computed: {
    ...mapGetters({ tokenList: 'customer/getTokenList' })
  },
  async mounted () {
    await this.$store.dispatch('customer/listTokens', this.currentUser.email);
  }
}
</script>
<style lang="scss" scoped>
.payment-methods{
  .card-list{
    flex-wrap: wrap;
    width: 100%;
    .card-item{
      width: 33.333333%;
      padding: 10px;
      .item-box{
        position: relative;
        border: 1px solid rgba(45, 36, 45, 0.1);
        border-radius: 4px;
        padding: 15px;
        min-height: 130px;
        .card-type{
          position: absolute;
          width: 34px;
          height: 24px;
          top: 15px;
          right: 15px;
          &.mastercard{
            background: url(/assets/icons/mastercard.png) no-repeat;
          }
          &.visa{
            background: url(/assets/icons/visa.png) no-repeat;
          }
        }
        .card-details{
          strong{
            display: block;
            font-weight: 700;
            font-size: 14px;
            text-transform: capitalize;
            line-height: 1.6;
          }
        }
        .button-box{
          position: absolute;
          right: 15px;
          bottom: 15px;
          button{
            border: 0;
            background: transparent;
            display: inline-flex;
            border-right: solid 1px #2D242D;
            float: left;
            padding: 0 8px;
            &.edit{
              display: none;
            }
            &:last-child{
              border-right: 0px;
              padding-right:0;
            }
          }
        }
      }
      @media (max-width: 1279px) {
        width: 50%;
      }
      @media (max-width: 991px) {
        width: 100%;
      }
      @media (max-width: 767px) {
        width: 50%;
      }
      @media (max-width: 575px) {
        width: 100%;
        max-width: 300px;
        max-width: 0 auto;
      }
    }
  }
}
</style>
