<template>
  <div class="container mb40">
    <h3 class="block-title f-s-25 section-title cl-black-2E2F30 align-center mb50 a-bold">
      {{ "TOP SELLERS" }}
    </h3>
    <div class="cat-lists">
      <ul class="list" v-if="topSellerCategory.length > 0">
        <li
          class="cl-gray-969196 f-s-16"
          :class="{ active: currentCatId === category.id }"
          @click="getCategoriesProduct(category.id)"
          v-for="(category, index) of topSellerCategory"
          :key="index"
        >
          {{ category.name }}
        </li>
      </ul>
      <div class="top-seller-list custom-carousel mt30" v-if="topSellers.length > 0">
        <no-ssr>
          <carousel
            :per-page="1"
            :per-page-custom="[[0, 1], [480, 2], [768, 3], [1200, 4]]"
            :mouse-drag="false"
            :pagination-enabled="true"
            :navigation-enabled="true"
            pagination-active-color="#828282"
            navigation-next-label="<img src='/assets/icons/prev.svg' alt='next-icon' />"
            navigation-prev-label="<img src='/assets/icons/prev.svg' alt='prev-icon' />"
          >
            <slide v-for="(product, index) of topSellers" :key="index" class="hover-on-product">
              <product-tile :product="product" />
            </slide>
          </carousel>
        </no-ssr>
      </div>
    </div>
  </div>
</template>
<script>
import config from 'config';
import NoSSR from 'vue-no-ssr';
import SearchQuery from '@vue-storefront/core/lib/search/searchQuery';
import ProductTile from 'theme/components/core/ProductTile';
export default {
  name: 'TopSellers',
  data () {
    return {
      topSellersCatConfig: config.aureatelabs.topSellers.values,
      topSellerCategory: [],
      topSellers: [],
      currentCatId: null
    };
  },
  components: {
    Carousel: () => import('vue-carousel').then(Slider => Slider.Carousel),
    Slide: () => import('vue-carousel').then(Slider => Slider.Slide),
    'no-ssr': NoSSR,
    ProductTile
  },
  async mounted () {
    let childCatData = await this.$store.dispatch('category/list', {
      key: 'id',
      value: this.topSellersCatConfig
    });

    this.topSellerCategory =
      childCatData.items.length > 0 ? childCatData.items : [];

    this.currentCatId = this.topSellerCategory[0].id;
    this.getCategoriesProduct(this.currentCatId);
  },
  methods: {
    async getCategoriesProduct (cat_id) {
      this.currentCatId = cat_id;

      const productQuery = new SearchQuery();
      productQuery.applyFilter({ key: 'category_ids', value: { eq: cat_id } });

      const newProductsResult = await this.$store.dispatch('product/list', {
        query: productQuery,
        size: 10
      });

      this.topSellers =
        newProductsResult.items.length > 0 ? newProductsResult.items : [];
    }
  }
};
</script>
<style lang="scss" scoped>
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
$green: color(green-95BF47);

.cat-lists {
  min-height: 500px;
  .list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    li {
      padding: 15px 22px;
      border-bottom: 1px solid #DDDDDD;
      &:hover,
      &.active {
        color: $green;
        border-bottom: 1px solid $green;
        margin-bottom: 0;
      }
    }
  }
}
@media (max-width: 767px) {
  .section-title {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .cat-lists {
    .list {
      li {
        font-size: 12px;
      }
    }
  }
}
</style>
<style lang="scss">
.top-seller-list {
  .VueCarousel {
    @media (min-width: 1366px) {
      padding: 0 60px;
    }
  }
  .VueCarousel-navigation-button {
    @media (max-width: 1365px) {
      display: none;
    }
    &.VueCarousel-navigation-prev {
      transform: translateY(-50%) translateX(-14px);
      img {
        transform: rotate(180deg);
      }
    }
    &.VueCarousel-navigation-next {
      transform: translateY(-50%) translateX(14px);
    }
  }
  .VueCarousel-pagination {
    display: none;
    @media (max-width: 1365px) {
      display: block;
    }
  }
}
</style>
