<template>
  <section class="top-selection new-arrival mb50">
    <div class="container">
      <h3 class="block-title uppercase f-s-25 cl-black-2D242D align-center m0 a-bold">
        {{ $t("New Arrival") }}
      </h3>
      <div class="top-product-list custom-carousel home-carousel-main" v-if="topSelection.length > 0">
        <no-ssr>
          <carousel
            :per-page="1"
            :per-page-custom="[[0, 1], [575, 2], [768, 3], [1200, 5]]"
            :mouse-drag="false"
            :pagination-enabled="true"
            :navigation-enabled="true"
            pagination-active-color="#828282"
            navigation-next-label="<img src='/assets/icons/next.svg' alt='prev-icon' />"
            navigation-prev-label="<img src='/assets/icons/next.svg' alt='next-icon' />"
          >
            <slide v-for="(product, index) of topSelection" :key="index" class="hover-on-product">
              <div class="item-box py15">
                <product-tile :product="product" />
              </div>
            </slide>
          </carousel>
        </no-ssr>
      </div>
    </div>
  </section>
</template>
<script>
import NoSSR from 'vue-no-ssr';
import { prepareQuery } from '@vue-storefront/core/modules/catalog/queries/common';
import ProductTile from 'theme/components/core/ProductTile';
export default {
  name: 'NewArrival',
  data () {
    return {
      topSelection: []
    };
  },
  components: {
    Carousel: () => import('vue-carousel').then(Slider => Slider.Carousel),
    Slide: () => import('vue-carousel').then(Slider => Slider.Slide),
    'no-ssr': NoSSR,
    ProductTile
  },
  async mounted () {
    let newProductsQuery = prepareQuery({ queryConfig: 'newProducts' });
    const newProductsResult = await this.$store.dispatch('product/list', {
      query: newProductsQuery,
      size: 10
    });
    this.topSelection =
      newProductsResult.items.length > 0 ? newProductsResult.items : [];
  }
};
</script>
<style lang="scss" scoped>
.top-selection {
  @media (max-width: 767px) {
    margin-bottom: 30px;
    h3 {
      font-size: 18px;
    }
    .top-product-list {
      margin-top: 30px;
    }
  }
}
.top-product-list {
  margin-top: 50px;
}
</style>
<style lang="scss">
.new-arrival{
  @media (max-width: 575px) {
    .VueCarousel-wrapper{
      overflow: visible;
      max-width: 60%;
      margin: 0 auto;
    }
    .VueCarousel-pagination{
      .VueCarousel-dot-container{
        display: none;
      }
    }
  }
}
</style>
