<template>
  <div class="product-listing-carousel-wrap">
    <div class="container">
      <h3 class="block-title section-title uppercase f-s-25 cl-black-2D242D align-center mt0 mb50 a-bold">
        {{ title }}
        <span v-if="subTitle">
          {{ subTitle }}
        </span>
      </h3>
      <div class="product-listing-carousel" v-if="productsList.length > 0">
        <no-ssr>
          <div class="relative">
            <div class="swiper-slider-wrap">
              <div v-swiper="swiperOption" :instance-name="sliderId">
                <div class="swiper-wrapper">
                  <div class="swiper-slide hover-on-product" v-for="(product, index) of productsList" :key="index">
                    <product-tile :product="product" />
                  </div>
                </div>
              </div>
            </div>
            <div :id="sliderId + '-pagination'" class="swiper-pagination" slot="pagination" :style="enablePagination()" />
            <div :id="sliderId + '-button-prev'" class="swiper-button-prev" slot="button-prev">
              <svg width="11px" height="17px" viewBox="0 0 11 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Home-Page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="FigsMarket-Home-Page-Desktop-Rev007" transform="translate(-1571.000000, -1254.000000)" stroke="#2D242D" stroke-width="2">
                    <g id="Group-53" transform="translate(339.000000, 1055.000000)">
                      <polyline id="Rectangle-Copy" transform="translate(1233.119573, 207.325444) scale(-1, 1) rotate(-135.000000) translate(-1233.119573, -207.325444) " points="1227.79413 202.394477 1238.44502 202 1238.05054 212.650888" />
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <div :id="sliderId + '-button-next'" class="swiper-button-next" slot="button-next">
              <svg width="11px" height="17px" viewBox="0 0 11 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Home-Page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="FigsMarket-Home-Page-Desktop-Rev007" transform="translate(-1571.000000, -1254.000000)" stroke="#2D242D" stroke-width="2">
                    <g id="Group-53" transform="translate(339.000000, 1055.000000)">
                      <polyline id="Rectangle-Copy" transform="translate(1233.119573, 207.325444) scale(-1, 1) rotate(-135.000000) translate(-1233.119573, -207.325444) " points="1227.79413 202.394477 1238.44502 202 1238.05054 212.650888" />
                    </g>
                  </g>
                </g>
              </svg>
            </div>
          </div>
        </no-ssr>
      </div>
    </div>
  </div>
</template>
<script>
import NoSSR from 'vue-no-ssr';
import { prepareQuery } from '@vue-storefront/core/modules/catalog/queries/common';
import ProductTile from 'theme/components/core/ProductTile';
import SwiperCore, { Navigation, Pagination } from 'swiper';
import { Swiper, SwiperSlide, directive } from 'vue-awesome-swiper'
import 'swiper/swiper.scss'

SwiperCore.use([Navigation, Pagination]);

export default {
  name: 'ProductListingSlider',
  props: {
    sliderId: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    subTitle: {
      type: String,
      default: ''
    },
    perPageCustom: {
      type: Array,
      default: () => []
    },
    paginationEnabled: {
      type: Boolean,
      default: true
    },
    navigationEnabled: {
      type: Boolean,
      default: true
    },
    productBorderEnabled: {
      type: Boolean,
      default: false
    },
    limit: {
      type: Number,
      default: 1
    },
    productsList: {
      type: [Object, Array],
      default: () => []
    }
  },
  data () {
    return {
      topSelection: [],
      quickViewProduct: null,
      swiperOption: {
        spaceBetween: 10,
        slidesPerView: 5,
        pagination: {
          el: ('#' + this.sliderId + '-pagination'),
          clickable: true
        },
        navigation: {
          nextEl: ('#' + this.sliderId + '-button-next'),
          prevEl: ('#' + this.sliderId + '-button-prev')
        },
        breakpoints: {
          1280: {
            slidesPerView: 5,
            spaceBetween: 10
          },
          992: {
            slidesPerView: 4,
            spaceBetween: 10
          },
          768: {
            slidesPerView: 3,
            spaceBetween: 10
          },
          680: {
            slidesPerView: 2,
            spaceBetween: 10
          },
          0: {
            slidesPerView: 1,
            spaceBetween: 10,
            centeredSlides: true,
            loop: true
          }
        }
      }
    };
  },
  components: {
    ProductTile,
    // Swiper,
    // SwiperSlide,
    'no-ssr': NoSSR
  },
  directives: {
    swiper: directive
  },
  async mounted () {
    let newProductsQuery = prepareQuery({ queryConfig: 'products' });
    const newProductsResult = await this.$store.dispatch('product/list', {
      query: newProductsQuery,
      size: this.$props.limit
    });
    this.topSelection =
      newProductsResult.items.length > 0 ? newProductsResult.items : [];
  },
  methods: {
    enablePagination () {
      var pagination = this.paginationEnabled ? 'display: block' : 'display: none';
      return pagination;
    }
  }
};
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';

</style>
