<template>
  <div class="breadcrumbs f-s-14">
    <span class="home-icon">
      <router-link to="/">
        <img src="/assets/home.svg" alt="">
      </router-link>
    </span>
    <i class="fa fa-angle-right px15 cl-gray-969196 f-s-16" aria-hidden="true" />
    <span v-for="link in paths" :key="link.route_link">
      <router-link :to="link.route_link" class="no-underline cl-gray-969196">
        {{ link.name | htmlDecode }}
      </router-link>
      <i class="fa fa-angle-right px15 cl-gray-969196 f-s-16" aria-hidden="true" />
    </span>
    <span class="cl-black-2D242D weight-600">
      {{ current | htmlDecode }}
    </span>
  </div>
</template>

<script>
import { Breadcrumbs } from '@vue-storefront/core/modules/breadcrumbs/components/Breadcrumbs.ts'

export default {
  mixins: [Breadcrumbs]
}
</script>
<style lang="scss" scoped>
  @media (max-width: 767px) {
    .breadcrum-div{
      margin-left: 0px;
      margin-right: 0px;
    }
  }
</style>
