<template>
  <div>
    <form action="#" @submit.prevent="contactus" class="contact-us-form">
      <div class="row">
        <div class="base-input col-xs-12 col-md-6 mb15">
          <base-input
            type="text"
            name="firstname"
            v-model="formData.firstname"
            @blur="$v.formData.firstname.$touch()"
            :placeholder="$t('First Name*')"
            :validations="[{
              condition: !$v.formData.firstname.required && $v.formData.firstname.$error,
              text: $t('This is a required field.')
            }]"
          />
        </div>
        <div class="base-input col-xs-12 col-md-6 mb15">
          <base-input
            type="text"
            name="lastname"
            v-model="formData.lastname"
            @blur="$v.formData.lastname.$touch()"
            :placeholder="$t('Last Name*')"
            :validations="[{
              condition: !$v.formData.lastname.required && $v.formData.lastname.$error,
              text: $t('This is a required field.')
            }]"
          />
        </div>
        <div class="base-input col-xs-12 mb15">
          <base-input
            type="email"
            name="email"
            v-model="formData.email"
            @blur="$v.formData.email.$touch()"
            :placeholder="$t('Email Address*')"
            :validations="[
              {
                condition: !$v.formData.email.required && $v.formData.email.$error,
                text: $t('This is a required field.')
              },
              {
                condition: !$v.formData.email.email && $v.formData.email.$error,
                text: $t('Please provide valid e-mail address.')
              }
            ]"
          />
        </div>
        <div class="base-input col-xs-12 mb15">
          <base-input
            type="text"
            name="telephone"
            v-model="formData.telephone"
            @blur="$v.formData.telephone.$touch()"
            :placeholder="$t('Mobile Number*')"
            :validations="[{
              condition: !$v.formData.telephone.required && $v.formData.telephone.$error,
              text: $t('This is a required field.')
            }]"
          />
        </div>
        <div class="base-input col-xs-12 mb15">
          <base-textarea
            type="text"
            name="comment"
            v-model="formData.comment"
            @blur="$v.formData.comment.$touch()"
            :placeholder="$t('Message')"
            :validations="[{
              condition: $v.formData.comment.$error && !$v.formData.comment.required,
              text: $t('This is a required field.')
            }]"
          />
        </div>
        <div class="col-xs-12 flex center-xs">
          <button-full type="submit" class="btn-all">
            {{ $t('Submit Now') }}
          </button-full>
        </div>
      </div>
    </form>
  </div>
</template>
<script>

import BaseInput from 'theme/components/core/blocks/Form/BaseInput.vue'
import BaseTextarea from 'theme/components/core/blocks/Form/BaseTextarea'
import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import { AddComment } from 'src/modules/contact-us/components/AddComment'
import { required, email, minLength } from 'vuelidate/lib/validators'

export default {
  name: 'ContactForm',
  data () {
    return {
      formData: {
        firstname: '',
        lastname: '',
        email: '',
        telephone: '',
        comment: ''
      }
    }
  },
  validations: {
    formData: {
      firstname: {
        required
      },
      lastname: {
        required
      },
      email: {
        required,
        email
      },
      telephone: {
        required
      },
      comment: {
        required
      }
    }
  },
  components: {
    BaseInput,
    BaseTextarea,
    ButtonFull
  },
  mixins: [ AddComment ],
  methods: {
    contactus () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.submit()
      } else {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t('Please fix the validation errors'),
          action1: { label: this.$t('OK') }
        })
        return false
      }
    },
    submit () {
      this.addComment({
        'subscriber': {
          'name': this.formData.firstname + ' ' + this.formData.lastname,
          'email': this.formData.email,
          'telephone': this.formData.telephone,
          'comment': this.formData.comment
        }
      })
    },
    clearContactForm () {
      this.formData.firstname = ''
      this.formData.lastname = ''
      this.formData.email = ''
      this.formData.telephone = ''
      this.formData.comment = ''
      this.$v.$reset()
    }
  },
  metaInfo () {
    return {
      title: 'Contact Us',
      meta: !this.$route.meta.description ? [{ vmid: 'description', name: 'description', content: 'Contact Us' }] : []
    }
  },
  mounted () {
    this.$bus.$on('clear-add-contact-form', this.clearContactForm)
  },
  destroyed () {
    this.$bus.$off('clear-add-contact-form', this.clearContactForm)
  }
};
</script>
