<template>
  <div @click="$emit('change', variant)">
    <button
      class="relative brdr-1 bg-cl-transparent pointer selector mr15"
      :class="{ active: isActive }"
      :aria-label="{ variant: variant.label }"
    >
      <span class="bg-cl-transparent absolute block square" />
    </button>
    <span class="cl-gray-969196 f-s-14">{{ variant.label }}</span>
  </div>
</template>

<script>
import filterMixin from 'theme/mixins/filterMixin.ts'

export default {
  mixins: [filterMixin]
}
</script>

<style lang="scss" scoped>
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $color-event: color(green-95BF47);
  $black-2D242D: color(black-2D242D);

  .selector {
    width: 15px;
    height: 15px;
    border: 1px solid $black-2D242D;
    border-radius: 2px;
    /*&:hover {
      background-color: $black-2D242D;
      border-radius: 2px;
      .square {
        background-color: $black-2D242D;
        border-radius: 2px;
      }
    }*/

    &.active {
      border: 1px solid $black-2D242D;
      .square {
        border-radius: 2px;
        background-color: $black-2D242D;
        &:after {
          content: "";
          border: 1px solid #FFFFFF;
          border-top: 0px;
          border-left: 0px;
          transform: matrix(-0.71, 0.71, 0.71, 0.71, 0, 0);
          position: absolute;
          display: block;
          color: #fff;
          left: 4px;
          top: 4px;
          width: 7px;
          height: 3px;
          font-size: 16px;
        }
      }
    }
  }

  .square {
    width: 15px;
    height: 15px;
    top: -1px;
    left: -1px;
    /*left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);*/
  }
</style>
