<template>
  <div class="product-listing">
    <carousel
      :per-page="1"
      :per-page-custom="[[0, 1], [575, 2], [768, 3], [1200, columns]]"
      :mouse-drag="false"
      :pagination-enabled="true"
      :navigation-enabled="true"
      :center-mode="true"
      pagination-active-color="#828282"
      navigation-next-label="<img src='/assets/icons/next.svg' alt=''>"
      navigation-prev-label="<img src='/assets/icons/next.svg' alt=''>"
      v-if="productSlider"
    >
      <slide v-for="(product) in products" :key="product.id" class="hover-on-product">
        <div class="item-box">
          <product-tile :product="product" />
        </div>
      </slide>
    </carousel>
    <div class="row" v-else>
      <div
        v-for="(product) in products"
        :key="product.id"
        class="col-sm-6 col-md-6 col-xs-6 col-lg-4 flex productslist"
        :class="['col-xl-' + (12/columns)]"
      >
        <product-tile :product="product" />
      </div>
    </div>
  </div>
</template>

<script>
// import NoSSR from 'vue-no-ssr';
import ProductTile from 'theme/components/core/ProductTile'
import { type } from 'os';
let lastHero = 0
export default {
  name: 'ProductListing',
  components: {
    Carousel: () => import('vue-carousel').then(Slider => Slider.Carousel),
    Slide: () => import('vue-carousel').then(Slider => Slider.Slide),
    // 'no-ssr': NoSSR,
    ProductTile
  },
  props: {
    products: {
      type: null,
      required: true
    },
    columns: {
      type: [Number, String],
      required: true
    },
    productSlider: {
      type: Boolean
    }
  },
  methods: {
    wide (isOnSale, isNew, index) {
      let deltaCondition = index > 0 && ((index - 1) - lastHero) % 2 === 0
      // last image always shouldn't be big, we also need to count from last promoted to check if it will look ok
      let isHero = ((isOnSale === '1' || isNew === '1') && deltaCondition) || (index === this.products.length - 1 && (index - lastHero) % 2 !== 0)
      if (isHero) {
        lastHero = index
      }
      return isHero ? 'col-xs-12' : 'col-xs-6'
    }
  }
}
</script>
<style lang="scss" scoped>
.productslist {
  box-sizing: border-box;
  border: 1px solid transparent;
  padding-left:4px;
  padding-right:4px;
  padding-bottom: 8px;
  .product{
    border-radius: 6px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  /*&:hover {
    background: #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);
    border-radius: 6px;
    -webkit-transition: background-color .5s ease;
    -moz-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease;
  }*/
  @media (max-width: 767px) {
    padding: 0 8px 16px;
    .breadcrum-div{
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}
</style>
<style lang="scss">
.product-listing {
  .VueCarousel {
    @media (min-width: 1366px) {
      padding: 0 20px;
    }
  }
  .VueCarousel-navigation-button {
    @media (max-width: 1365px) {
      display: none;
    }
    &.VueCarousel-navigation-prev {
      transform: translateY(-50%) translateX(-14px);
      img {
        transform: rotate(180deg);
      }
    }
    &.VueCarousel-navigation-next {
      transform: translateY(-50%) translateX(14px);
    }
  }
  .VueCarousel-pagination {
    display: none;
    /*@media (max-width: 1365px) {
      display: block;
    }*/
  }
}
#category{
  @media (max-width: 767px) {
    .breadcrum-div{
      margin-left: 0px;
      margin-right: 0px;
    }
    .wishlist-btn{
      svg{
        width: 22px;
      }
    }
  }
}
.product-listing{
  @media (max-width: 575px) {
    .VueCarousel-wrapper{
      overflow: visible;
      max-width: 60%;
      margin: 0 auto;
    }
    .VueCarousel-pagination{
      .VueCarousel-dot-container{
        display: none;
      }
    }
  }
}
</style>
