<template>
  <div class="product-thumb-slider">
    <product-gallery-overlay
      v-if="isZoomOpen"
      :current-slide="currentSlide"
      :product-name="productName"
      :gallery="gallery"
      @close="toggleZoom"
    />
    <div class="thumb-slider-top">
      <carousel
        :per-page="1"
        :mouse-drag="false"
        :navigation-enabled="true"
        :pagination-enabled="false"
        pagination-active-color="#828282"
        pagination-color="transparent"
        navigation-next-label="<i class='material-icons pointer'>keyboard_arrow_right</i>"
        navigation-prev-label="<i class='material-icons pointer'>keyboard_arrow_left</i>"
        ref="carousel"
        :speed="carouselTransitionSpeed"
        @pageChange="pageChange"
      >
        <slide
          v-for="(images, index) in gallery"
          :key="images.src"
        >
          <div
            class="product-image-container"
            :class="{'video-container w-100 h-100 flex relative': images.video}"
          >
            <product-image
              v-show="hideImageAtIndex !== index"
              @click="openOverlay"
              class="pointer image"
              :image="images"
              :alt="productName | htmlDecode"
            />
            <product-video
              v-if="images.video && (index === currentPage)"
              v-bind="images.video"
              :index="index"
              @video-started="onVideoStarted"
            />
          </div>
        </slide>
      </carousel>
    </div>
    <div class="thumb-slider-bottom">
      <carousel
        :per-page="4"
        :mouse-drag="false"
        :navigation-enabled="true"
        :pagination-enabled="false"
        pagination-active-color="#828282"
        pagination-color="transparent"
        navigation-next-label="<i class='material-icons pointer'>keyboard_arrow_right</i>"
        navigation-prev-label="<i class='material-icons pointer'>keyboard_arrow_left</i>"
        :navigate-to="currentThumbSlide"
        ref="thumbCarousel"
      >
        <slide
          v-for="(images, index) in gallery"
          :class="{ 'active' : currentThumbSlide === index }"
          :key="images.src"
        >
          <product-image
            @click="navigate(index)"
            :image="images"
            :alt="productName | htmlDecode"
          />
        </slide>
      </carousel>
    </div>
  </div>
</template>

<script>
import config from 'config'
import ProductImage from './ProductImage'
import ProductVideo from './ProductVideo'
import reduce from 'lodash-es/reduce'
import map from 'lodash-es/map'
import ProductGalleryOverlay from './ProductGalleryOverlay'

export default {
  components: {
    'Carousel': () => import('vue-carousel').then(Slider => Slider.Carousel),
    'Slide': () => import('vue-carousel').then(Slider => Slider.Slide),
    ProductImage,
    ProductVideo,
    ProductGalleryOverlay
  },
  props: {
    gallery: {
      type: Array,
      required: true
    },
    productName: {
      type: String,
      default: ''
    },
    configuration: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      carouselTransition: true,
      carouselTransitionSpeed: 0,
      currentColor: 0,
      currentPage: 0,
      currentThumbSlide: 0,
      hideImageAtIndex: null,
      isZoomOpen: false,
      currentSlide: 0
    }
  },
  computed: {},
  beforeMount () {
    this.$bus.$on('filter-changed-product', this.selectVariant)
    this.$bus.$on('product-after-load', this.selectVariant)
  },
  mounted () {
    this.selectVariant()

    if (this.configuration.color) {
      const { color } = this.configuration
      this.currentColor = color.id
    }

    this.$emit('loaded')
  },
  beforeDestroy () {
    this.$bus.$off('filter-changed-product', this.selectVariant)
    this.$bus.$off('product-after-load', this.selectVariant)
  },
  methods: {
    navigate (index) {
      if (this.$refs.carousel) {
        this.$refs.carousel.goToPage(index)
      }
    },
    selectVariant () {
      if (config.products.gallery.mergeConfigurableChildren) {
        const option = reduce(map(this.configuration, 'attribute_code'), (result, attribute) => {
          result[attribute] = this.configuration[attribute].id
          return result
        }, {})
        if (option) {
          let index = this.gallery.findIndex(
            obj => obj.id && Object.entries(obj.id).toString() === Object.entries(option).toString(), option)
          if (index < 0) index = this.gallery.findIndex(obj => obj.id && obj.id.color === option.color)
          this.navigate(index)
        }
      }

      this.$emit('close')
    },
    openOverlay () {
      this.currentSlide = this.$refs.carousel.currentPage
      this.toggleZoom()
    },
    switchCarouselSpeed () {
      const { color } = this.configuration
      if (color && this.currentColor !== color.id) {
        this.currentColor = color.id
        this.carouselTransitionSpeed = 0
      } else {
        this.carouselTransitionSpeed = 500
      }
    },
    pageChange (index) {
      this.switchCarouselSpeed()

      this.currentPage = index
      this.hideImageAtIndex = null
      this.currentThumbSlide = index
    },
    onVideoStarted (index) {
      this.hideImageAtIndex = index
    },
    toggleZoom () {
      this.isZoomOpen = !this.isZoomOpen
    },
    onEscapePress () {
      if (this.isZoomOpen) {
        this.toggleZoom()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/animations/transitions';
.zoom-in {
  position: absolute;
  bottom: 0;
  right: 0;
}
.image{
  opacity: 1;
  will-change: opacity;
  transition: .3s opacity $motion-main;
  border-radius: 6px;
  overflow: hidden;
  &:hover{
    opacity: .9;
  }
}
.video-container {
  align-items: center;
  justify-content: center;
}
</style>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white-F5F5F5: color(white-F5F5F5);
.product-thumb-slider {
  .thumb-slider-top {
    background-color: #ffffff;
    border-radius: 6px;

    .VueCarousel-navigation-next,
    .VueCarousel-navigation-prev {
      transform: translateY(-50%) translateX(0);
      padding: 0 !important;
      background-color: $white-F5F5F5;

      i {
        font-size: 20px;
        display: block;
        width: 30px;
        height: 30px;
        line-height: 30px;
      }
    }
  }

  .thumb-slider-bottom {
    margin-top: 10px;

    .VueCarousel-inner {
      margin-right: -13px;
    }

    .VueCarousel-slide {
      padding-right: 10px;
      box-sizing: border-box;

      .product-image {
        /*border: 1px solid #E5E5E5;*/
        background-color: #FBFBFB;
        cursor: pointer;
      }

      &.active {
        .product-image {
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            background-color: #2D242D;
          }
        }
      }
    }

    .VueCarousel-navigation-next,
    .VueCarousel-navigation-prev {
      transform: translateY(-50%) translateX(0);
      padding: 0 !important;
      background-color: $white-F5F5F5;

      i {
        font-size: 30px;
        display: block;
      }
    }
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
}
</style>
