<template>
  <li class="lh30 f-s-12">
    <span class="weight-600">{{ $t(label) }}: </span>
    <span>{{ value|htmlDecode }}</span>
  </li>
</template>

<script>
import { ProductAttribute } from '@vue-storefront/core/modules/catalog/components/ProductAttribute.ts'

export default {
  mixins: [ProductAttribute]
}
</script>
