<template>
  <div class="qty-input" :class="'qty-input__' + size">
    <div class="flex middle-xs">
      <div class="qty-element flex" :class="{ 'ml-3' : hasLabel, 'box-w-h' : customWidth }">
        <button class="minus-btn" @click.prevent="decrementEvent" :aria-label="$t('Decrement')" role="button" :disabled="value === minInput">
          <img src="/assets/icons/next.svg" alt="Minus">
        </button>
        <input
          type="number"
          :min="minInput"
          :max="maxInput"
          :aria-label="ariaLabel"
          :id="getInputId"
          :name="name"
          :value="value"
          focus
          :ref="'qtyInput'"
          @input="inputEvent"
          @focus="$emit('focus')"
          @blur="$emit('blur', value)"
          @keypress="event.charCode >= 48 && event.charCode != 45"
          autocomplete="off"
        >
        <button class="plus-btn" @click.prevent="incrementEvent" :aria-label="$t('Increment')" role="button" :disabled="value >= maxInput">
          <img src="/assets/icons/next.svg" alt="Plus">
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'QuantityBox',
  props: {
    id: {
      type: String,
      default: 'quantity',
      required: false
    },
    name: {
      type: String,
      default: 'quantity',
      required: false
    },
    value: {
      type: [String, Number],
      default: 1,
      required: false
    },
    size: {
      type: String,
      default: 'md',
      required: false
    },
    hasLabel: {
      type: Boolean,
      default: true,
      required: false
    },
    customWidth: {
      type: [String, Number],
      default: 1,
      required: false
    },
    ariaLabel: {
      type: String,
      required: false,
      default: ''
    },
    stock: {
      type: Object,
      default: null,
      required: false
    }
  },
  data () {
    return {
      minInput: this.minInputValue(),
      maxInput: this.maxInputValue()
    }
  },
  methods: {
    inputEvent ($event) {
      let value = parseInt($event.target.value)
      if (value === (this.minInput - 1)) {
        this.$refs.qtyInput.value = this.minInput
        value = this.minInput
      }
      if (isNaN(value) || value === (this.minInput - 1)) {
        value = this.minInput
      }
      if (value >= this.maxInput) {
        this.$refs.qtyInput.value = this.maxInput
        value = this.maxInput
      }
      value = parseInt(value)
      this.$emit('input', value)
    },
    incrementEvent ($event) {
      let value = parseInt(this.value)
      if (isNaN(value) || value < (this.minInput - 1)) {
        value = this.minInput
      }
      if (value >= this.maxInput) {
        this.$refs.qtyInput.value = this.maxInput
        value = (this.maxInput - 1)
      }
      this.$emit('input', value + 1)
      this.$emit('blur', value + 1)
    },
    decrementEvent ($event) {
      let value = parseInt(this.value)
      if (isNaN(value) || value < (this.minInput - 1)) {
        value = this.minInput
      }
      this.$emit('input', value > 1 ? value - 1 : 1)
      this.$emit('blur', value > 1 ? value - 1 : 1)
    },
    maxInputValue () {
      if (this.$parent.$options.name === 'MicrocartProduct') {
        return this.stock && this.stock.qty ? this.stock.qty : 99
      } else {
        return this.$store.state.config.aureatelabs.qtyinput.max ? this.$store.state.config.aureatelabs.qtyinput.max : 99
      }
    },
    minInputValue () {
      if (this.$parent.$options.name === 'MicrocartProduct') {
        return 1
      } else {
        return this.$store.state.config.aureatelabs.qtyinput.min ? this.$store.state.config.aureatelabs.qtyinput.min : 1
      }
    }
  },
  computed: {
    getInputId () {
      return `input_${this._uid}`
    }
  }
}
</script>

<style lang="scss" scoped>
@import "~theme/css/variables/grid";
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-DDDDDD: color(gray-DDDDDD);
$gray-E5E5E5: color(gray-E5E5E5);

  input[type=number] {
    -moz-appearance: textfield;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .qty-element{
    position: relative;
    overflow: hidden;
    height: 43px;
    border: solid 2px $gray-E5E5E5;
    border-radius:4px;
    margin-right: 10px;
    input {
      border: 0;
      width: 60px;
      height: auto;
      line-height: 1;
      font-size: 16px;
      padding: 0 18px 0 0;
      text-align: center;
    }
    button{
      position: absolute;
      right: 0;
      background: $gray-E5E5E5;
      border-radius: 0;
      border: 0;
      height: 50%;
      cursor:pointer;
      img{
        max-width: 6px;
      }
      &.minus-btn{
        bottom: 0;
        border-top: solid 1px #ccc;
        img{
          transform: rotate(90deg);
        }
      }
      &.plus-btn{
        top: 0;
        img{
          transform: rotate(270deg);
        }
      }
    }
  }
</style>
