$white: color(white);
.header{
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.10);
  position: relative;
  z-index: 2;
}
.top-header{
  .flex{
    height: 41px;
    padding-top: 2px;
    padding-bottom: 3px;
    @media (min-width: 992px) {
      .first{
        width: 25%;
      }
      .second{
        width: 50%;
        text-align: center;
      }
      .country-drop-box{
        width: 25%;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
.head-logo{
  line-height: 0;
  a{
    img{
      max-width: 242px;
      display: block;
      height: auto;
    }
  }
}
/*.menu-header-links{
  ul.menu-links{
    li.menu-item{
      &:last-child{
        a.main-menu-link{
          &:after{
            content: '';
            background:url(/assets/icons/down-arrow3.svg);
            width: 6px;
            height: 3px;
            display: inline-block;
            vertical-align: middle;
            margin-top: -6px;
          }
        }
      }
    }
  }
}*/

.country-drop-box{
  .country{
    display: flex;
    align-items: center;
    .flag-icon{
      width: 25px;
      vertical-align: middle;
    }
    span{
      padding: 3px 0 2px 8px;
    }
    .fa{
      display: inline-block;
      margin-left: 4px;
      line-height: 7px;
    }
  }
}

.select-sim {
    width:78px;
    height:22px;
    line-height:22px;
    vertical-align:middle;
    position:relative;
    overflow:hidden;
    display: inline-block;
    position: relative;
    &:after{
        content: "\f107";
        font-family: 'FontAwesome';
        font-size:14px;
        color: rgba(255,255,255,0.60);
        position:absolute;
        top:50%;
        right:5px;
        transform:translate(0, -50%);
    }
  }
  
  .select-sim:hover {
    overflow:visible;
  }
  
  .select-sim:hover .options .option label {
    display:inline-block;
  }
  
  .select-sim:hover .options {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:88px;
  }
  
  .select-sim .options .option {
    overflow:hidden;
  }
  
  .select-sim:hover .options .option {
    height:22px;
    overflow:hidden;
  }
  
  .select-sim .options .option img {
    vertical-align:middle;
  }
  
  .select-sim .options .option label {
    display:none;
  }
  
  .select-sim .options .option input {
    width:0;
    height:0;
    overflow:hidden;
    margin:0;
    padding:0;
    display:inline-block;
    /* fix specific for Firefox */
    position: absolute;
    left: -10000px;
  }
  
  .select-sim .options .option input:checked + label {
    display:block;
    width:100%;
  }
  
  .select-sim:hover .options .option input + label {
    display:block;
  }
  .mobile-search{
    border:0px;
    position: absolute;
    background-image: url(/assets/icons/search.svg);
    background-repeat: no-repeat;
    background-position: right 13px center;
    width: 36px;
    height: 46px;
    line-height: 46px;
    top: 8px;
    z-index: 999;
    text-indent: 21px;
    padding: 0 15px 0 0;
    color: #000;
    transition: all 0.3s ease-out;
    &.focus{
      background-color: #EAEAEC;
      box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.08);
      border-radius: 6px;
      width: 348px;
    }
  }
  
  @media (max-width: 1280px){
    .head-logo{
      a{
        img{
          max-width: 180px;
        }
      }
    }
    .cart-btn[data-v-15e82e85] {
      padding: 12px 15px;
    }
  }
  @media (max-width: 992px) {
    .mobile-header{
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 20px;
      .mobile-logo{
        a{
          display: block;
          img{
            max-width: 145px;
            height: auto;
            display: block;
          }
        }
      }
      .head-left{
        min-width: 70px;
        .hambergur-icon{
          padding: 0 25px 0 0;
        }
        button{
          padding: 0;
        }
      }
      .head-right{
        .dropdown{
          padding: 0;
          margin-right: 25px;
          img{
            padding-right: 0;
          }
        }
        .cart-btn{
          background: transparent;
          padding: 0;
          border-radius: 0;
          .cart-text{
            display: none;
          }
        }
      }
    }
  }
@media (min-width: 992px) {
  .ov-hover{
    &.active{
      position:absolute;
      left: -50%;
      right: -50%;
      top: 56px;
      height:1090px;
      width: 200%;
      background: rgba(45, 36, 45, 0.2);
      overflow: hidden;
    }
  }
  .main-header{
    z-index: 10;
    background: #fff;
    position: relative;
  }
  .main-header-menu{
    z-index: 9;
    background: #fff;
    position: relative;
  }
  .menu-header-links{
    .mega-menu{
      > .row{
        padding: 20px;
        background: $white;
        z-index: 9;
        position: relative;
      }
      /*&::before{
        content: '';
        position: fixed;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(45, 36, 45, 0.7);
      }*/
    }
  }
}