.imagewithtext{
  .row{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background: $white;
    padding: 70px 50px;
    margin-bottom: 20px;
    p{
      line-height: 1.7;
    }
    a{
      &:after{
        content: '';
        background: url(/assets/icons/left-arrow.png) no-repeat;
        width: 11px;
        height: 9px;
        display: inline-block;
      }
    }
    button{
      border: 0;
      background: transparent;
      span{
        display: inline-block;
        width: 10px;
        height: 1px;
        background: #000;
        vertical-align: middle;
        position: relative;
        margin-left: 5px;
        &:after{
          content:'';
          transform: rotate(-45deg);
          border: 1px solid #000000;
          border-top: 0;
          border-left: 0;
          display: block;
          position: absolute;
          width: 4px;
          height: 4px;
          right: 0;
          top: -2px;
        }
      }
    }
    &:last-child{
      margin-bottom: 0px;
    }
  }
  @media (max-width: 990px) {
    .row{
      display: block;
      .col-md-6{
        max-width: 100%;
        img{
          max-width: 100%;
          margin-bottom: 25px;
        }
        &:first-child{
          text-align: center;
        }
      }
    }
  }
  @media (max-width: 767px) {
    padding: 0 15px;
    text-align: center;
    .row{
      padding-bottom: 40px;
    }
    h4{
      font-size: 16px;
      padding: 0;
    }
    p{
      font-size: 12px;
      margin-bottom: 0;
    }
    button{
      font-size: 14px;
    }
  }
}