.shop-by-category{
    .VueCarousel-wrapper{
        .category{
            text-align: center;
            padding: 0 10px;
            .item-img{
                border-radius: 100%;
                background: $white;
                border-radius: 100%;
                display: block;
                img{
                    border-radius: 100%;
                }
            }
        }
    }
}