.signup-popup{
  padding: 30px 40px;
  .tabs__light{
    .tabs__header{
      li{
        font-size: 16px;
      }
    }
  }
  .forgot-password{
    font-size: 12px;
    font-weight: 600;
    a{
      color: #2D242D;
    }
  }
  .check-box{
    label{
      span{
        font-size: 12px;
        padding-top: 3px;
        display: inline-block;
        vertical-align: top;
      }
    }
  }
  .submit-btn{
    width: 100%;
    text-transform: uppercase;
  }
  .modal-close{
    position: absolute;
    top: -15px;
    right: -14px;
    background: #2d242d;
    border-radius: 100%;
    padding: 3px;
    font-size: 22px;
    color: #fff;
  }
  @media (max-width: 500px) {
    padding: 10px 20px 20px;
    .check-box{
      label{
        padding-left: 20px;
        font-weight: 400;
      }
    }
    .forgot-password{
      font-weight: 400;
    }
  }
}
.default-layout{
  .input-field2{
    .no-input-icon{
      border: 0;
      input{
        background: #FFFFFF;
        border: 1px solid #E5E5E5;
        border-radius: 4px;
        font-size: 12px;
        color: rgba(39, 39, 47, 1);
        padding: 0 15px;
      }
    }
  }
}