<template>
  <div>
    <v-select v-model="selected" :options="books" label="title">
      <template #selected-option="{ title, author }">
        <div style="display: flex; align-items: baseline;">
          <strong>{{ title }}</strong>
          <em style="margin-left: .5rem;">by {{ author.firstName }} {{ author.lastName }}</em>
        </div>
      </template>
    </v-select>
  </div>
</template>
<script>
const book = {
  title: "Old Man's War",
  author: {
    firstName: "John",
    lastName: "Scalzi"
  }
};
export default {
  name: "CountryDropDown",
  data: () => ({
    books: [book],
    selected: book
  })
}
</script>
<style lang="scss" scoped>
#app {
  max-width: 30em;
  margin: 1em auto;
}

#app .dropdown li {
  border-bottom: 1px solid rgba(112, 128, 144, 0.1);
}

#app .dropdown li:last-child {
  border-bottom: none;
}

#app .dropdown li a {
  padding: 10px 20px;
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 1.25em;
}

#app .dropdown li a .fa {
  padding-right: 0.5em;
}
</style>
