<template>
  <div class="mb15 mt20 payment-cash-on-delivery-info-container">
    <h4 class="mt0 mb15 f-s-14 weight-600">
      Payment Information
    </h4>
    <div class="bg-cl-secondary px20 py20">
      <p class="m0 f-s-14">
        You are going to pay for this order upon delivery.
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PaymentCashOnDelivery',
  data () {
    return {}
  }
}
</script>
