<template>
  <div
    class="inline-flex relative dropdown mr5 p10"
    data-testid="accountButton"
    @click.self="goToAccount();showMenu = true;"
    @keyup.enter="goToAccount"
    tabindex="0"
    role="button"
    @mouseover="showMenu = true"
    @mouseout="showMenu = false"
    :aria-label="$t('Open my account')"
  >
    <button
      type="button"
      class="flex middle-xs bg-cl-transparent brdr-none p0 accounts account-button"
    >
      <img src="/assets/icons/user.svg" :alt="userFullname">
      <span class="cl-black-2D242D f-s-14 pl3 pl5 acc-text">{{ $t(userFullname) }}</span>
    </button>

    <no-ssr>
      <div v-show="currentUser" :class="['dropdown-content bg-cl-white align-left a-regular lh20 weight-400', !showMenu ? 'dropdown-content__hidden' : '']">
        <div class="py5">
          <div v-for="(page, index) in navigation" :key="index" @click="notify(page.title)">
            <router-link @click.native="showMenu = false" class="acc-link a-regular no-underline block py10 px15" :to="localizedRoute(page.link)">
              {{ page.title }}
            </router-link>
          </div>
        </div>
        <div class="py5 brdr-top-1 brdr-cl-bg-secondary">
          <a href="#" class="no-underline block py10 px15" @click.prevent="logout">
            {{ $t('Logout') }}
          </a>
        </div>
      </div>
    </no-ssr>
  </div>
</template>

<script>
import NoSSR from 'vue-no-ssr'
import AccountIcon from '@vue-storefront/core/compatibility/components/blocks/Header/AccountIcon'
import { mapGetters } from 'vuex'

export default {
  mixins: [AccountIcon],
  components: {
    'no-ssr': NoSSR
  },
  computed: {
    ...mapGetters({
      isLogged: 'user/isLoggedIn'
    }),
    userFullname () {
      return this.isLogged
        ? this.currentUser.firstname + ' ' + this.currentUser.lastname
        : 'Login/SignUp';
    }
  },
  data () {
    return {
      showMenu: false,
      navigation: [
        { title: this.$t('My Profile'), link: '/my-account' },
        { title: this.$t('Address Book'), link: '/my-account/shipping-details' },
        { title: this.$t('My List'), link: '/my-account/my-wishlist' },
        { title: this.$t('Newsletter'), link: '/my-account/newsletter' },
        { title: this.$t('My Orders'), link: '/my-account/orders' },
        { title: this.$t('Payment Methods'), link: '/my-account/payment-methods' },
        { title: this.$t('Recently Viewed Products'), link: '/my-account/recently-viewed' }
      ]
    }
  },
  methods: {
    notify (title) {
      if (title === 'My loyalty card' || title === 'My product reviews') {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'warning',
          message: this.$t('This feature is not implemented yet! Please take a look at https://github.com/DivanteLtd/vue-storefront/issues for our Roadmap!'),
          action1: { label: this.$t('OK') }
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/base/global_vars';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$black-2D242D: color(black-2D242D);
$color-icon-hover: color(secondary, $colors-background);
.acc-text{
  text-transform: capitalize;
}
.dropdown {
  cursor: pointer;
  button {
    pointer-events: none;
  }
  .accounts {
      img {
        vertical-align: middle;
        height: 22px;
        padding-right: 9px;
      }
    }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    width: 250px;
    z-index: 1;
    box-shadow: 0px 0px 13px 7px rgba(0, 0, 0, 0.1);
    .acc-link {
      color: $black-2D242D;
    }
  }

  a {
    opacity: .8;

    &:hover,
    &:focus,
    &.router-link-exact-active {
      opacity: 1;
    }

  }

  @media (min-width: 992px) {
    &:hover .dropdown-content:not(.dropdown-content__hidden),
    &:focus .dropdown-content:not(.dropdown-content__hidden) {
      display: block;
    }

    &:focus-within {
      /*background-color: $color-icon-hover;*/
      opacity: 1;
      .dropdown-content:not(.dropdown-content__hidden) {
        display: block;
      }
    }
  }

  @media (max-width: 992px) {
    .acc-text {
      display: none;
    }
  }

}
</style>
