<template>
  <button @click="isOnWishlist ? removeProductFromWhishList(product) : addProductToWhishlist(product)" class="wishlist-btn action h5 pointer" aria-label="wishlist" type="button" data-testid="addToWishlist">
    <slot>
      <template v-if="!isOnWishlist">
        <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8 2H23" stroke="#2D242D" stroke-width="2" stroke-linecap="round"/>
          <path d="M8 10H23" stroke="#2D242D" stroke-width="2" stroke-linecap="round"/>
          <path d="M8 18H14" stroke="#2D242D" stroke-width="2" stroke-linecap="round"/>
          <path d="M18 18H23" stroke="#2D242D" stroke-width="2" stroke-linecap="round"/>
          <path d="M20.5 15.5V20.5" stroke="#2D242D" stroke-width="2" stroke-linecap="round"/>
          <circle cx="1.5" cy="2" r="1.5" fill="#2D242D"/>
          <circle cx="1.5" cy="10" r="1.5" fill="#2D242D"/>
          <circle cx="1.5" cy="18" r="1.5" fill="#2D242D"/>
        </svg>
      </template>
      <template v-else>
        <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8 2H23" stroke="#2D242D" stroke-width="2" stroke-linecap="round"/>
          <path d="M8 10H23" stroke="#2D242D" stroke-width="2" stroke-linecap="round"/>
          <path d="M8 18H14" stroke="#2D242D" stroke-width="2" stroke-linecap="round"/>
          <path d="M18 18H23" stroke="#2D242D" stroke-width="2" stroke-linecap="round"/>
          <path d="M20.5 15.5V20.5" stroke="#2D242D" stroke-width="2" stroke-linecap="round"/>
          <circle cx="1.5" cy="2" r="1.5" fill="#2D242D"/>
          <circle cx="1.5" cy="10" r="1.5" fill="#2D242D"/>
          <circle cx="1.5" cy="18" r="1.5" fill="#2D242D"/>
        </svg>
      </template>
    </slot>
  </button>
</template>

<script>
import { IsOnWishlist } from '@vue-storefront/core/modules/wishlist/components/IsOnWishlist'
import { AddToWishlist } from '@vue-storefront/core/modules/wishlist/components/AddToWishlist'
import { RemoveFromWishlist } from '@vue-storefront/core/modules/wishlist/components/RemoveFromWishlist'
import i18n from '@vue-storefront/i18n'
import { htmlDecode } from '@vue-storefront/core/lib/store/filters'
import { mapGetters } from 'vuex';

export default {
  mixins: [ IsOnWishlist, AddToWishlist, RemoveFromWishlist ],
  computed: {
    ...mapGetters({
      isLoggedIn: 'user/isLoggedIn'
    }),
    favoriteIcon () {
      return this.isOnWishlist ? 'favorite' : 'favorite_border'
    }
  },
  methods: {
    addProductToWhishlist (product) {
      if (this.isLoggedIn) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'success',
          message: i18n.t('Product {productName} has been added to wishlist!', { productName: htmlDecode(product.name) }),
          action1: { label: i18n.t('OK') }
        }, { root: true })
        this.addToWishlist(product)
      } else {
        this.$bus.$emit('modal-toggle', 'modal-signup')
      }
    },
    removeProductFromWhishList (product) {
      if (this.isLoggedIn) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'success',
          message: i18n.t('Product {productName} has been removed from wishlist!', { productName: htmlDecode(product.name) }),
          action1: { label: i18n.t('OK') }
        }, { root: true })
        this.removeFromWishlist(product)
      } else {
        this.$bus.$emit('modal-toggle', 'modal-signup')
      }
    }
  }
}
</script>
