<template>
  <modal name="modal-signup" :width="430">
    <div class="signup-popup">
      <h3 v-if="activeElem === 'login'" class="welcome-message">
        {{ $t('Welcome Back') }}
      </h3>
      <SignUpTabs class="">
        <SignUpTab :title="$t('Login')" v-if="activeElem === 'login'">
          <login />
        </SignUpTab>
        <SignUpTab :title="$t('Reset Password')" v-if="activeElem === 'forgot-pass'">
          <forgot-pass />
        </SignUpTab>
        <SignUpTab :title="$t('Register')">
          <register />
        </SignUpTab>
      </SignUpTabs>
    </div>
  </modal>
</template>

<script>
import { mapState } from 'vuex'
import Modal from 'theme/components/core/Modal'
import Login from 'theme/components/core/blocks/Auth/Login'
import Register from 'theme/components/core/blocks/Auth/Register'
import ForgotPass from 'theme/components/core/blocks/Auth/ForgotPass'
import SignUpTab from 'theme/components/core/blocks/Auth/SignUpTab.vue'
import SignUpTabs from 'theme/components/core/blocks/Auth/SignUpTabs.vue'

export default {
  name: 'SignUp',
  computed: {
    ...mapState({
      activeElem: state => state.ui.authElem
    })
  },
  components: {
    Modal,
    Login,
    Register,
    ForgotPass,
    SignUpTab,
    SignUpTabs
  }
}
</script>

<style lang="scss" scoped>
  .modal {
    font-size: 18px;
  }
  .welcome-message{
    margin: 0 0 20px;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    line-height: 1.2;
    @media (max-width: 767px) {
      font-size: 18px;
    }
  }
</style>
<style lang="scss">
  @import "~theme/css/variables/colors";
  @import "~theme/css/helpers/functions/color";
  @import "~theme/css/blocks/signup";
</style>
