<template>
  <div id="category" class="bg-cl-white-F5F5F5">
    <div class="container pb30">
      <div class="row middle-sm pt25 pb10 breadcrum-div">
        <breadcrumbs class="col-md-7" />
        <div class="sorting col-md-5 flex middle-xs end-md weight-500">
          <label class="cl-black-2D242D f-s-14">{{ $t('Sort By:') }}</label>
          <sort-by
            :has-label="true"
            @change="changeFilter"
            :value="getCurrentSearchQuery.sort"
          />

          <label class="cl-black-2D242D f-s-14 pl10 hidden-mx">{{ $t('View:') }}</label>
          <div class="hidden-mx">
            <select class="select1" @change="selectedValue(selected)" v-model="selected" :value="getCurrentSearchQuery.sort">
              <option v-for="(option,index) in options" :value="option.value" :key="index">
                {{ option.text }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row pt20 main-section">
        <div class="col-md-3 start-xs category-filters">
          <sidebar :filters="getAvailableFilters" @changeFilter="changeFilter" />
        </div>
        <transition name="left-filter">
          <div class="col-md-3 start-xs mobile-filters bg-cl-white" v-if="mobileFilters">
            <div class="close-container absolute inline-flex">
              <i class="material-icons f-s-15 close cl-black-2D242D" @click="closeFilters">close</i>
            </div>
            <sidebar class="mobile-filters-body" :filters="getAvailableFilters" @changeFilter="changeFilter" />
          </div>
        </transition>
        <div class="col-md-9 px10 border-box products-list">
          <div class="flex mobile-filter-row hidden-md border-r py10 mt15 mb25 align-center">
            <div class="col-xs-6 uppercase cl-black-2D242D weight-600 f-s-16 brdr-right-1 brdr-cl-gray-E5E5E5 lh30" @click="openFilters">
              {{ $t('Filters') }}
            </div>
            <div class="col-xs-6 mobile-filters-sort uppercase cl-black-2D242D weight-600 f-s-16 lh30" @click="openSortBy">
              {{ $t('Sort') }}
            </div>
          </div>
          <div v-if="isCategoryEmpty" class="hidden-xs">
            <h4 data-testid="noProductsInfo">
              {{ $t('No products found!') }}
            </h4>
            <p>{{ $t('Please change Your search criteria and try again. If still not finding anything relevant, please visit the Home page and try out some of our bestsellers!') }}</p>
          </div>
          <lazy-hydrate :trigger-hydration="!loading" v-if="isLazyHydrateEnabled">
            <product-listing :columns="defaultColumn" :products="getCategoryProducts" />
          </lazy-hydrate>
          <product-listing v-else :columns="defaultColumn" :products="getCategoryProducts" />
        </div>
      </div>
    </div>
    <transition name="bottom-filter">
      <div class="sorting-mobile bg-cl-white hidden-md fixed w-100" v-if="openSortBySlider">
        <sort-by
          :has-label="true"
          :type="'slider'"
          @change="changeFilter"
          :value="getCurrentSearchQuery.sort"
        />
      </div>
    </transition>
  </div>
</template>

<script>
import LazyHydrate from 'vue-lazy-hydration'
import Sidebar from '../components/core/blocks/Category/Sidebar.vue'
import ProductListing from '../components/core/ProductListing.vue'
import Breadcrumbs from '../components/core/Breadcrumbs.vue'
import SortBy from '../components/core/SortBy.vue'
import { isServer } from '@vue-storefront/core/helpers'
import { getSearchOptionsFromRouteParams } from '@vue-storefront/core/modules/catalog-next/helpers/categoryHelpers'
import config from 'config'
// import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import { mapGetters } from 'vuex'
import onBottomScroll from '@vue-storefront/core/mixins/onBottomScroll'
import rootStore from '@vue-storefront/core/store';
import { catalogHooksExecutors } from '@vue-storefront/core/modules/catalog-next/hooks'
import { localizedRoute, currentStoreView } from '@vue-storefront/core/lib/multistore'
import { htmlDecode } from '@vue-storefront/core/filters'
import { disableBodyScroll, clearAllBodyScrollLocks } from 'body-scroll-lock'
// import BaseSelect from 'theme/components/core/blocks/Form/BaseSelect'

const THEME_PAGE_SIZE = 28

const composeInitialPageState = async (store, route, page, forceLoad = false) => {
  try {
    const filters = getSearchOptionsFromRouteParams(route.params)
    const cachedCategory = store.getters['category-next/getCategoryFrom'](route.path)
    const currentCategory = cachedCategory && !forceLoad ? cachedCategory : await store.dispatch('category-next/loadCategory', { filters })
    if (!store.getters['url/isBackRoute']) {
      if (typeof page === 'number') {
        await store.dispatch('category-next/loadCategoryProducts', { route, category: currentCategory, pageSize: page })
      } else {
        await store.dispatch('category-next/loadCategoryProducts', { route, category: currentCategory, pageSize: THEME_PAGE_SIZE })
      }
    }
    const breadCrumbsLoader = store.dispatch('category-next/loadCategoryBreadcrumbs', { category: currentCategory, currentRouteName: currentCategory.name, omitCurrent: true })

    if (isServer) await breadCrumbsLoader
    catalogHooksExecutors.categoryPageVisited(currentCategory)
  } catch (e) {
    console.error('Problem with setting Category initial data!', e)
  }
}

export default {
  components: {
    LazyHydrate,
    // ButtonFull,
    // BaseSelect,
    ProductListing,
    Breadcrumbs,
    Sidebar,
    SortBy
  },

  mixins: [onBottomScroll],
  data () {
    return {
      mobileFilters: false,
      defaultColumn: 4,
      loadingProducts: false,
      loading: true,
      openSortBySlider: false,
      selected: THEME_PAGE_SIZE,
      options: [
        { text: '28', value: THEME_PAGE_SIZE },
        { text: '38', value: 38 },
        { text: '46', value: 46 }
      ]
    }
  },
  computed: {
    ...mapGetters({
      getCurrentSearchQuery: 'category-next/getCurrentSearchQuery',
      getCategoryProducts: 'category-next/getCategoryProducts',
      getCurrentCategory: 'category-next/getCurrentCategory',
      getCategoryProductsTotal: 'category-next/getCategoryProductsTotal',
      getAvailableFilters: 'category-next/getAvailableFilters'
      // getCurrentCategoryProductQuery:'category-next/getCurrentCategoryProductQuery'
    }),
    isLazyHydrateEnabled () {
      return config.ssr.lazyHydrateFor.includes('category-next.products')
    },
    isCategoryEmpty () {
      return this.getCategoryProductsTotal === 0
    }
  },
  async asyncData ({ store, route }) { // this is for SSR purposes to prefetch data - and it's always executed before parent component methods
    await composeInitialPageState(store, route)
  },
  async beforeRouteEnter (to, from, next) {
    if (isServer) next() // SSR no need to invoke SW caching here
    else if (!from.name) { // SSR but client side invocation, we need to cache products and invoke requests from asyncData for offline support
      next(async vm => {
        vm.loading = true
        await composeInitialPageState(vm.$store, to, true)
        await vm.$store.dispatch('category-next/cacheProducts', { route: to }) // await here is because we must wait for the hydration
        vm.loading = false
      })
    } else { // Pure CSR, with no initial category state
      next(async vm => {
        vm.loading = true
        vm.$store.dispatch('category-next/cacheProducts', { route: to })
        vm.loading = false
      })
    }
  },
  watch: {
    '$route' (nV, oV) {
      this.selected = 28
    },
    mobileFilters (state) {
      this.removeBodyScroll(state)
    },
    openSortBySlider (state) {
      this.removeBodyScroll(state)
    }
  },
  methods: {
    openFilters () {
      this.mobileFilters = true
      this.$store.commit('ui/setOverlay', true)
    },
    closeFilters () {
      this.mobileFilters = false
      this.$store.commit('ui/setOverlay', false)
    },
    async changeFilter (filterVariant) {
      this.$store.dispatch('category-next/switchSearchFilters', [filterVariant])
      this.closeFilters()
    },
    async selectedValue (value) {
      await composeInitialPageState(this.$store, this.$route, value, true)
    },
    async onBottomScroll () {
      if (this.loadingProducts) return
      this.loadingProducts = true
      try {
        await this.$store.dispatch('category-next/loadMoreCategoryProducts')
      } catch (e) {
        console.error('Problem with fetching more products', e)
      } finally {
        this.loadingProducts = false
      }
    },
    removeBodyScroll (state) {
      if (state) {
        this.$nextTick(() => {
          disableBodyScroll(this.$el);
        })
      } else {
        clearAllBodyScrollLocks();
      }
    },
    openSortBy () {
      this.openSortBySlider = true
      this.$store.commit('ui/setOverlay', true)
    },
    closeSortBy () {
      this.openSortBySlider = false
      this.$store.commit('ui/setOverlay', false)
      this.openSortBySlider = false
    },
    pullMoreProducts () {
      if (typeof navigator !== 'undefined' && !navigator.onLine) return
      let current = this.getCurrentCategoryProductQuery.current + this.getCurrentCategoryProductQuery.perPage
      this.mergeSearchOptions({
        append: true,
        route: this.$route,
        store: this.$store,
        current
      })
      this.pagination.current = this.getCurrentCategoryProductQuery.current
      this.pagination.perPage = this.getCurrentCategoryProductQuery.perPage
      if (this.getCurrentCategoryProductQuery.current <= this.productsTotal) {
        this.mergeSearchOptions({
          searchProductQuery: (this.category, this.filters.chosen)
          // searchProductQuery: buildFilterProductsQuery(this.category, this.filters.chosen)
        })
        return this.$store.dispatch('category/products', this.getCurrentCategoryProductQuery)
      }
    }
  },
  metaInfo () {
    const storeView = currentStoreView()
    const { meta_title, meta_description, name, slug } = this.getCurrentCategory
    const meta = meta_description ? [
      { vmid: 'description', name: 'description', content: htmlDecode(meta_description) }
    ] : []
    const categoryLocaliedLink = localizedRoute({
      name: 'category-amp',
      params: { slug }
    }, storeView.storeCode)
    const ampCategoryLink = this.$router.resolve(categoryLocaliedLink).href

    return {
      link: [ { rel: 'amphtml', href: ampCategoryLink } ],
      title: htmlDecode(meta_title || name),
      meta
    }
  },
  beforeMount () {
    this.$bus.$on('close-mobile-filter', this.closeFilters)
    this.$bus.$on('close-sortby-filter', this.closeSortBy)
  },
  beforeDestroy () {
    this.$bus.$off('close-mobile-filter', this.closeFilters)
    this.$bus.$off('close-sortby-filter', this.closeSortBy)
  }
}
</script>

<style lang="scss" scoped>
  @import "~theme/css/animations/transitions";

.left-filter-enter-active,
.left-filter-leave-active,
.bottom-filter-enter-active,
.bottom-filter-leave-active
{
  transition: transform .25s;
}

.left-filter-enter,
.left-filter-leave-to {
  transform: translateX(100%);
}

.bottom-filter-enter,
.bottom-filter-leave-to {
  transform: translateY(100%);
}

.category-title {
    line-height: 65px;
}

.sorting {
  label {
    margin-right: 10px;
  }
}

  @media (max-width: 767px) {
    .category-title {
      margin: 0;
      font-size: 36px;
      line-height: 40px;
    }

    .products-list {
      width: 100%;
      max-width: none;
    }

    .mobile-filters {
      display: block;
    }

    .mobile-filters-button {
      display: block;
      height: 45px;
    }

    .sorting {
      display: none;
    }

    .mobile-sorting {
      display: block;
    }

    .category-filters {
      display: none;
    }

    .product-listing {
      justify-content: center;;
    }

    .mobile-filters {
      position: fixed;
      z-index: 9992;
      padding: 0 30px 30px;
      right: 0;
      max-width: 357px;
      width: 100%;
      height: 100vh;
      top: 0;
      overflow-y: auto;
      overflow-x: hidden;
      box-sizing: border-box;
      -webkit-overflow-scrolling: touch;
      box-shadow: -2px 0 10px 0 rgba(0,0,0,0.15);
    }
  }

  .close-container {
    right: 10px;
    top: 15px;
    z-index: 5;
    padding: 5px;
    i {
      vertical-align: middle;
    }
  }

  .close {
    margin-left: auto;
  }

  .mobile-filter-row {
    /*width: calc(100% + 36px);
    left: -18px;*/
    position: relative;
    background: #fff;
    margin-left: 0;
    margin-right: 0;
  }

  .sorting-mobile {
    bottom: 0;
    z-index: 9992;
    box-shadow: 0 -2px 10px 0 rgba(0,0,0,0.15);
  }

  @media (max-width: 767px) {
    .main-section {
      padding-top: 0;
    }
    .products-list {
      .breadcrum-div {
        padding: 25px 0;
      }
    }
  }
</style>
<style lang="scss">
@import url("https://use.typekit.net/ozz7tuc.css");
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
$gray-D8D8D8: color(gray-D8D8D8);
$white: color(white);

.product-image {
  max-height: unset !important;
}
@media (max-width: 767px) {
  .mobile-filters-body {
    .sidebar__header {
      font-size: 16px;
      padding:16px 40px;
      margin-left: -40px;
      margin-right: -40px;
      &__clear {
        i {
          font-size: 15px;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  #category{
    .main-section{
      > .col-md-3{
        flex-basis: 35%;
        max-width: 35%;
      }
      > .col-md-9{
        flex-basis: 65%;
        max-width: 65%;
      }
    }
  }
}
</style>
