<template>
  <div id="checkout" class="bg-cl-white-F5F5F5">
    <div class="container" v-show="!isThankYouPage">
      <div class="d-flex">
        <div class="order-steps-wrap pt40">
          <!--<div class="checkout-title py5 px20">
            <h1>
              {{ $t('Checkout') }}
            </h1>
          </div>-->
          <div class="shaded-box checkout-details">
            <personal-details
              class="line relative"
              :is-active="activeSection.personalDetails"
              :focused-field="focusedField"
            />
            <shipping class="line relative" :is-active="activeSection.shipping" v-if="!isVirtualCart" />
            <payment class="line relative" :is-active="activeSection.payment" />
            <order-review class="relative" :is-active="activeSection.orderReview" />
            <div id="custom-steps" />
          </div>
        </div>
        <div class="hidden-xs bg-cl-white order-summary-wrap">
          <cart-summary class="w-100" />
        </div>
      </div>
    </div>
    <thank-you-page v-show="isThankYouPage" />
  </div>
</template>

<script>
import Checkout from '@vue-storefront/core/pages/Checkout'

import PersonalDetails from 'theme/components/core/blocks/Checkout/PersonalDetails'
import Shipping from 'theme/components/core/blocks/Checkout/Shipping'
import Payment from 'theme/components/core/blocks/Checkout/Payment'
import OrderReview from 'theme/components/core/blocks/Checkout/OrderReview'
import CartSummary from 'theme/components/core/blocks/Checkout/CartSummary'
import ThankYouPage from 'theme/components/core/blocks/Checkout/ThankYouPage'
import { registerModule } from '@vue-storefront/core/lib/modules'
import { OrderModule } from '@vue-storefront/core/modules/order'
import { mapGetters } from 'vuex'

export default {
  components: {
    PersonalDetails,
    Shipping,
    Payment,
    OrderReview,
    CartSummary,
    ThankYouPage
  },
  mixins: [Checkout],
  beforeCreate () {
    registerModule(OrderModule)
  },
  computed: {
    ...mapGetters({
      getCCData: 'myfatoorah/getCCData'
    })
  },
  methods: {
    notifyEmptyCart () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t('Shopping cart is empty. Please add some products before entering Checkout'),
        action1: { label: this.$t('OK') }
      })
    },
    notifyOutStock (chp) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: chp.name + this.$t(' is out of stock!'),
        action1: { label: this.$t('OK') }
      })
    },
    notifyNotAvailable () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t('Some of the ordered products are not available!'),
        action1: { label: this.$t('OK') }
      })
    },
    notifyStockCheck () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t('Stock check in progress, please wait while available stock quantities are checked'),
        action1: { label: this.$t('OK') }
      })
    },
    notifyNoConnection () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t('There is no Internet connection. You can still place your order. We will notify you if any of ordered products is not available because we cannot check it right now.'),
        action1: { label: this.$t('OK') }
      })
    },
    placeOrder () {
      let self = this;
      this.$store.dispatch('myfatoorah/directPayment', this.getCCData).then((data) => {
        self.checkConnection({ online: typeof navigator !== 'undefined' ? navigator.onLine : true })
        if (self.checkStocks()) {
          self.$store.dispatch('checkout/placeOrder', { order: self.prepareOrder() })
        } else {
          self.notifyNotAvailable()
        }
      });
    }
  }
}
</script>

<style lang="scss">
  @import '~theme/css/blocks/checkout';
  @import '~theme/css/base/text';
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $bg-secondary: color(secondary, $colors-background);
  $color-tertiary: color(tertiary);
  $color-secondary: color(secondary);
  $color-error: color(error);
  $color-white: color(white);
  $color-black: color(black);
  $gray-E5E5E5: color(gray-E5E5E5);

  #checkout {
    .number-circle {
      width: 35px;
      height: 35px;
      line-height: 36px;
      position:relative;
      z-index:1;

      @media (max-width: 768px) {
        width: 25px;
        height: 25px;
        line-height: 27px;
        font-size: 14px;
      }
    }
    .number-circle-wrap{
      @media (max-width: 768px) {
        padding-right: 0;
      }
    }
    .radioStyled {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 16px;
      line-height: 30px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }

      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        border: 1px solid $bg-secondary;

        &:after {
          content: "";
          position: absolute;
          display: none;
          top: 3px;
          left: 3px;
          width: 19px;
          height: 19px;
          border-radius: 50%;
          background: $color-secondary;
        }
      }

      input:checked ~ .checkmark:after {
        display: block;
      }
    }
  }

  .line {
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 16px;
      /*z-index: -1;*/
      width: 2px;
      height: 100%;
      background-color: $gray-E5E5E5;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  .checkout-title {
    @media (max-width: 767px) {
      background-color: $bg-secondary;
      margin-bottom: 25px;

      h1 {
        font-size: 36px;
      }
    }
  }
  @media (max-width: 1280px) {
    #checkout{
      .number-circle{
        width: 25px;
        height: 25px;
        line-height: 26px;
      }
      .line{
        &:after{
          left: 11px;
          top: 8px;
        }
      }
    }
    @media (max-width: 767px) {
      .order-review{
        padding-top: 10px;
      }
    }
  }
</style>
