<template>
  <div id="contact" class="bg-cl-white-F5F5F5 relative">
    <div class="container pt40 pb25">
      <div class="d-flex between-xs top-xs">
        <div class="bg-cl-white border-r contact-form">
          <div class="page-title">
            <h2>Get in touch</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
          <ContactForm />
        </div>
        <div class="bg-cl-white border-r contact-info">
          <cms-block :identifier="'contact-info'" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ContactForm from 'theme/components/core/ContactForm'
import CmsBlock from 'theme/components/core/blocks/Cms/Block'
export default {
  components: {
    ContactForm,
    CmsBlock
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$border-primary: color(primary, $colors-border);
</style>

<style lang="scss">
@import '~theme/css/blocks/contact';
</style>
