<template>
  <div id="page_not_found" class="error-page">
    <section class="bg-cl-white-F5F5F5 py35 px20">
      <div class="container">
        <div class="error-section">
          <h2>
            {{ $t("Something went wrong ...") }}
          </h2>
          <p>
            {{ $t("We've noticed Internal Server Error while rendering this request.") }}
          </p>
          <router-link :to="localizedRoute('/')" class="atc-btn button-full">
              {{ $t('Return to homepage') }}
          </router-link>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Error from '@vue-storefront/core/pages/Error'

export default {
  name: 'Error',
  mixins: [Error]
}
</script>

<style lang="scss" scoped>
  .error-section{
    max-width: 740px;
    margin: 0 auto;
    background: #fff;
    padding: 80px;
    text-align: center;
    border-radius: 6px;
    h2{
      font-size: 30px;
      margin:0px;
    }
    p{
      font-weight: 500;
      font-size: 20px;
      line-height: 1.3;
      margin: 0;
      padding: 15px 0 40px;
    }
    a{
      text-transform: uppercase;
      text-decoration: none;
      padding: 15px 35px;
      display: inline-flex;
      text-align: center;
      max-width: inherit;
      width: inherit;
    }
    @media (max-width: 767px) {
      padding: 35px;
      h2{
        font-size: 18px;
      }
      p{
        font-size: 13px;
        padding-bottom: 30px;
      }
      a{
        font-size: 14px;
        max-width: 198px;
      }
    }
  }
  .error-page{
    @media (max-width: 767px) {
      section{
        padding-bottom: 0px;
      }
    }
  }
</style>
