<template>
  <div id="home" class="bg-cl-white-F5F5F5">
    <head-image :banner-data="banner" />

    <product-listing-slider class="" :title="$t('Featured Products')" :product-border-enabled="false" :limit="10" :see-all-link="'/bf20-mar-online/bf20-ln-mg'" :badge="'assets/new-badge.svg'" :slider-id="'featured-products'" :pagination-enabled="false" :products-list="featuredProducts" />

    <product-category-slider class="category-square" :title="$t('Shop By Diet & Lifestyle')" :product-border-enabled="false" :limit="10" :see-all-link="'/bf20-mar-online/bf20-ln-mg'" :badge="'assets/new-badge.svg'" :slider-id="'shopByCategory'" :pagination-enabled="false" :products-list="trendingCategory" />

    <product-listing-slider class="" :title="$t('New Arrival')" :product-border-enabled="false" :limit="10" :see-all-link="'/bf20-mar-online/bf20-ln-mg'" :badge="'assets/new-badge.svg'" :slider-id="'newArrival'" :pagination-enabled="false" :products-list="topSelection" />

    <home-static-block />

    <product-listing-slider class="best-seller-products" :title="$t('Best Seller Products')" :product-border-enabled="false" :limit="10" :see-all-link="'/bf20-mar-online/bf20-ln-mg'" :badge="'assets/new-badge.svg'" :slider-id="'bestSellerProducts'" :pagination-enabled="false" :products-list="bestSellerProducts" />

    <HomeImageWithText />

    <product-category-slider class="category-circle" :title="$t('Shop By Category')" :product-border-enabled="false" :limit="10" :see-all-link="'/bf20-mar-online/bf20-ln-mg'" :badge="'assets/new-badge.svg'" :slider-id="'shopByCategory'" :pagination-enabled="false" :products-list="shopByCategory" />

    <product-listing-slider v-if="isLogged && items && items.length > 0" class="recently-viewed" :title="$t('Recently Viewed Products')" :product-border-enabled="false" :limit="10" :see-all-link="'/bf20-mar-online/bf20-ln-mg'" :badge="'assets/new-badge.svg'" :slider-id="'home-just-arrived-products'" :pagination-enabled="false" :products-list="items" />

    <Onboard />
  </div>
</template>

<script>

import { isServer, onlineHelper } from '@vue-storefront/core/helpers'
import Home from '@vue-storefront/core/pages/Home'
import HeadImage from 'theme/components/core/blocks/MainSlider/HeadImage'
import Onboard from 'theme/components/theme/blocks/Home/Onboard'
import { Logger } from '@vue-storefront/core/lib/logger'
import { mapGetters, mapState } from 'vuex'
import config from 'config'
import { registerModule } from '@vue-storefront/core/lib/modules'
import { RecentlyViewedModule } from '@vue-storefront/core/modules/recently-viewed'
import HomeStaticBlock from 'theme/components/theme/blocks/Static/HomeStaticBlock'
import HomeImageWithText from 'theme/components/theme/blocks/Static/HomeImageWithText'
import ProductListingSlider from 'theme/components/core/blocks/Product/ProductListingSlider'
import ProductCategorySlider from 'theme/components/core/blocks/Product/ProductCategorySlider'
import { prepareQuery } from '@vue-storefront/core/modules/catalog/queries/common'

export default {
  data () {
    return {
      loading: true,
      banner: [],
      saveUptoCatID: config.aureatelabs.SaveUpto.value,
      saveUptoProduct: [],
      topSelection: [],
      trendingCategory: [],
      shopByCategory: [],
      featuredProducts: [],
      bestSellerProducts: []
    }
  },
  mixins: [Home],
  components: {
    HeadImage,
    Onboard,
    HomeStaticBlock,
    HomeImageWithText,
    ProductListingSlider,
    ProductCategorySlider
  },
  computed: {
    ...mapGetters('homepage', ['getEverythingNewCollection']),
    ...mapGetters({ isLogged: 'user/isLoggedIn' }),
    ...mapState('recently-viewed', [
      'items'
    ]),
    categories () {
      return this.getCategories
    },
    isOnline () {
      return onlineHelper.isOnline
    },
    isLazyHydrateEnabled () {
      return config.ssr.lazyHydrateFor.some(
        field => ['homepage', 'homepage.new_collection'].includes(field)
      )
    }
  },
  beforeCreate () {
    registerModule(RecentlyViewedModule)
  },
  async created () {
    this.banner = this.$store.getters['banner/getBannerList'] || [];
  },
  async beforeMount () {
    if (this.$store.state.__DEMO_MODE__) {
      const onboardingClaim = await this.$store.dispatch('claims/check', { claimCode: 'onboardingAccepted' })
      if (!onboardingClaim) { // show onboarding info
        this.$bus.$emit('modal-toggle', 'modal-onboard')
        this.$store.dispatch('claims/set', { claimCode: 'onboardingAccepted', value: true })
      }
    }
  },
  async mounted () {
    // SHOP BY DIET & LIFESTYLE
    let shopByDietData = await this.$store.dispatch('category/list', {
      key: 'shop_by_diet_and_lifestyle',
      value: 1
    });
    this.trendingCategory = shopByDietData.items.length > 0 ? shopByDietData.items : [];

    // SHOP BY CATEGORY
    let shopByCatData = await this.$store.dispatch('category/list', {
      key: 'shop_by_category',
      value: 1
    });
    this.shopByCategory = shopByCatData.items.length > 0 ? shopByCatData.items : [];

    // FEATURED PRODUCTS
    let featuredQuery = prepareQuery({ filters: [{ 'key': 'featured_product', 'value': { 'eq': 1 } }] });
    const featuredProductsResult = await this.$store.dispatch('product/list', {
      query: featuredQuery,
      size: 50
    });
    this.featuredProducts = featuredProductsResult.items.length > 0 ? featuredProductsResult.items : [];

    // NEW ARRIVAL QUERY
    let newQuery = prepareQuery({ filters: [{ 'key': 'new_arrival', 'value': { 'eq': 1 } }] });
    const newArrivalResult = await this.$store.dispatch('product/list', {
      query: newQuery,
      size: 50,
      sort: 'id:desc'
    });
    this.topSelection = newArrivalResult.items.length > 0 ? newArrivalResult.items : [];

    // BEST SELLER PRODUCTS
    let bestSellerQuery = prepareQuery({ filters: [{ 'key': 'product_bestseller', 'value': { 'eq': 1 } }] });
    const bestSellerProductsResult = await this.$store.dispatch('product/list', {
      query: bestSellerQuery,
      size: 50
    });
    this.bestSellerProducts = bestSellerProductsResult.items.length > 0 ? bestSellerProductsResult.items : [];

    if (!this.isLoggedIn && localStorage.getItem('redirect')) this.$bus.$emit('modal-show', 'modal-signup')
  },
  watch: {
    isLoggedIn () {
      const redirectObj = localStorage.getItem('redirect')
      if (redirectObj) this.$router.push(redirectObj)
      localStorage.removeItem('redirect')
    }
  },
  async asyncData ({ store, route }) { // this is for SSR purposes to prefetch data
    Logger.info('Calling asyncData in Home (theme)')()

    await Promise.all([
      store.dispatch('homepage/fetchNewCollection'),
      store.dispatch('promoted/updateHeadImage'),
      store.dispatch('promoted/updatePromotedOffers'),
      store.dispatch('banner/list', {})
    ])
  },
  beforeRouteEnter (to, from, next) {
    if (!isServer && !from.name) { // Loading products to cache on SSR render
      next(vm =>
        vm.$store.dispatch('homepage/fetchNewCollection').then(res => {
          vm.loading = false
        })
      )
    } else {
      next()
    }
  }
}
</script>

<style lang="scss" scoped>
  .new-collection {
    @media (max-width: 767px) {
      padding-top: 0;
    }
  }
</style>
<style lang="scss">
@import "~theme/css/blocks/home";
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";

$white: color(white);

$whiteDEDFDE: color(white-DEDFDE);
.category-square{
  .category-item{
    text-align: center;
    background: $white;
    border-radius: 6px;
    .item-img{
      display:inline-block;
      padding: 35px;
      img{
        display:block;
        max-width:100%;
      }
    }
    p{
      padding-bottom: 25px;
    }
  }
}
.category-circle{
  .category-item{
    text-align: center;
    .item-img{
      display: inline-flex;
      background: #fff;
      border-radius: 100%;
      width: 180px;
      height: 180px;
      align-items: center;
      justify-content: center;
    }
    p{
      padding-top: 15px;
    }
  }
}
.VueCarousel-slide.hover-on-product {
  border: 1px solid transparent;
  padding-right: 5px;
  padding-left: 5px;
  .item-box{
    background: $white;
    border-radius: 6px;
  }
  .product:hover {
    background: $white;
    /*box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);*/
    border-radius: 6px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
}
</style>
