<template>
  <div id="product" class="bg-cl-white-F5F5F5" itemscope itemtype="http://schema.org/Product">
    <section class="px20 pb40 product-top-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <breadcrumbs
              class="pt40 pb30"
            />
          </div>
        </div>
        <section class="row between-xs top-section-data">
          <div class="col-xs-12 col-md-6 center-xs middle-xs image">
            <no-ssr>
              <product-thumb-gallery
                :offline="getOfflineImage"
                :gallery="getProductGallery"
                :configuration="getCurrentProductConfiguration"
                :product-name="getCurrentProduct.name"
                :product="getCurrentProduct"
              />
            </no-ssr>
          </div>
          <div class="col-xs-12 col-md-6 data">
            <div class="product-title-sec bg-cl-white">
              <div class="author-name f-s-18 weight-600 underline mb10">
                {{ getBrandName }}
              </div>
              <h1
                class="mb5 mt0 f-s-26 cl-black-2D242D product-name"
                data-testid="productName"
                itemprop="name"
              >
                {{ getCurrentProduct.name | htmlDecode }}
                <web-share
                  :title="getCurrentProduct.name | htmlDecode"
                  text="Check this product!"
                  class="web-share"
                />
              </h1>
              <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <meta itemprop="priceCurrency" :content="$store.state.storeView.i18n.currencyCode">
                <meta itemprop="price" :content="parseFloat(getCurrentProduct.price_incl_tax).toFixed(2)">
                <meta itemprop="availability" :content="structuredData.availability">
                <meta itemprop="url" :content="getCurrentProduct.url_path">
                <span class="product-weight">{{ getWeight }} {{ getUnitLabel }}</span>
                <product-price
                  class="pd-price"
                  v-if="getCurrentProduct.type_id !== 'grouped'"
                  :product="getCurrentProduct"
                  :custom-options="getCurrentCustomOptions"
                />
                <div class="product-review-star middle-xs pt25 pb25">
                  <div class="star-row">
                    <span v-for="index in 5" :key="index" class="star" :class="(index <= getRatings) ? 'checked': ''" />
                  </div>
                  <span class="cl-black-2D242D f-s-14">
                    {{ noOfReviews }} {{ $t("Customer Review(s)") }}
                  </span>
                </div>
                <div class="flex m0 middle-xs">
                  <quantity-box
                    v-model.number="getCurrentProduct.qty"
                    :aria-label="'Quantity'"
                    :has-label="true"
                    :custom-width="10"
                    class="product-quantity h5 cl-primary lh25 qty"
                    size="lg"
                  />
                  <add-to-cart
                    :product="getCurrentProduct"
                    :disabled="isAddToCartDisabled"
                    class="btn-add-to-cart max190"
                  />
                  <div class="wishlist-button pl15">
                    <AddToWishlist :product="getCurrentProduct" />
                  </div>
                </div>
                <tabs class="mt30">
                  <tab :title="$t('Description')">
                    <div class="lh30 h5 description" itemprop="description" v-html="getCurrentProduct.description" />
                  </tab>
                  <tab :title="$t('Additional Info')">
                    <ul class="attributes p0 m0">
                      <li class="lh30 f-s-12">
                        <span class="weight-600">{{ $t('SKU') }}: </span>
                        <span>{{ getCurrentProduct.sku }}</span>
                      </li>
                      <li class="lh30 f-s-12">
                        <span class="weight-600">{{ $t('Category') }}: </span>
                        <span class="category-values" v-for="category in getCurrentProduct.category" :key="category.category_id">{{ category.name }}</span>
                      </li>
                      <!-- <li class="lh30 f-s-12">
                        <span class="weight-600">{{ $t('Expiry Date') }}: </span>
                        <span>{{ getCurrentProduct.expired_date | formatDate }}</span>
                      </li> -->
                      <li class="lh30 f-s-12" v-if="getCurrentProduct.country_of_manufacture">
                        <span class="weight-600">{{ $t('Country of Origin') }}: </span>
                        <span>{{ getCurrentProduct.country_of_manufacture }}</span>
                      </li>
                      <product-attribute
                        :key="attr.attribute_code"
                        v-for="attr in getCustomAttributes"
                        :product="getCurrentProduct"
                        :attribute="attr"
                        empty-placeholder="N/A"
                      />
                    </ul>
                  </tab>
                </tabs>
              </div>
              <product-links
                v-if="getCurrentProduct.type_id =='grouped'"
                :products="getCurrentProduct.product_links"
              />
              <product-bundle-options
                v-if="getCurrentProduct.bundle_options && getCurrentProduct.bundle_options.length > 0"
                :product="getCurrentProduct"
              />
              <product-custom-options
                v-else-if="getCurrentProduct.custom_options && getCurrentProduct.custom_options.length > 0"
                :product="getCurrentProduct"
              />
            </div>
          </div>
        </section>
      </div>
    </section>
    <lazy-hydrate when-idle>
      <reviews
        :product-name="getOriginalProduct.name"
        :product-id="getOriginalProduct.id"
        v-show="isOnline"
      />
    </lazy-hydrate>
    <lazy-hydrate when-idle>
      <related-products type="related" />
    </lazy-hydrate>
  </div>
</template>

<script>
import i18n from '@vue-storefront/i18n'
import VueOfflineMixin from 'vue-offline/mixin'
import config from 'config'
import Reviews from 'theme/components/core/blocks/Reviews/Reviews.vue'
import AddToCart from 'theme/components/core/AddToCart.vue'
import RelatedProducts from 'theme/components/core/blocks/Product/Related.vue'
import Breadcrumbs from 'theme/components/core/Breadcrumbs.vue'
import ProductAttribute from 'theme/components/core/ProductAttribute.vue'
import QuantityBox from 'theme/components/core/QuantityBox.vue'
import ProductLinks from 'theme/components/core/ProductLinks.vue'
import ProductCustomOptions from 'theme/components/core/ProductCustomOptions.vue'
import ProductBundleOptions from 'theme/components/core/ProductBundleOptions.vue'
import ProductThumbGallery from 'theme/components/core/ProductThumbGallery'
import Spinner from 'theme/components/core/Spinner'
import focusClean from 'theme/components/theme/directives/focusClean'
import WebShare from 'theme/components/theme/WebShare'
import BaseInputNumber from 'theme/components/core/blocks/Form/BaseInputNumber'
import AddToWishlist from 'theme/components/core/blocks/Wishlist/AddToWishlist'
import { mapGetters, mapState } from 'vuex'
import LazyHydrate from 'vue-lazy-hydration'
import { ProductOption } from '@vue-storefront/core/modules/catalog/components/ProductOption.ts'
import { getAvailableFiltersByProduct, getSelectedFiltersByProduct } from '@vue-storefront/core/modules/catalog/helpers/filters'
import { isOptionAvailableAsync } from '@vue-storefront/core/modules/catalog/helpers/index'
import { localizedRoute, currentStoreView } from '@vue-storefront/core/lib/multistore'
import { htmlDecode } from '@vue-storefront/core/filters'
import { ReviewModule } from '@vue-storefront/core/modules/review'
import { RecentlyViewedModule } from '@vue-storefront/core/modules/recently-viewed'
import { registerModule, isModuleRegistered } from '@vue-storefront/core/lib/modules'
import { onlineHelper, isServer } from '@vue-storefront/core/helpers'
import { catalogHooksExecutors } from '@vue-storefront/core/modules/catalog-next/hooks'
import ProductPrice from 'theme/components/core/ProductPrice.vue'
import Tab from 'theme/components/theme/Tab.vue'
import Tabs from 'theme/components/theme/Tabs.vue'
import NoSSR from 'vue-no-ssr'
import { prepareQuery } from '@vue-storefront/core/modules/catalog/queries/common'

export default {
  components: {
    AddToCart,
    AddToWishlist,
    Breadcrumbs,
    ProductAttribute,
    ProductBundleOptions,
    ProductCustomOptions,
    ProductThumbGallery,
    ProductLinks,
    RelatedProducts,
    Reviews,
    WebShare,
    LazyHydrate,
    QuantityBox,
    ProductPrice,
    Tab,
    Tabs,
    'no-ssr': NoSSR
  },
  mixins: [ProductOption],
  directives: { focusClean },
  beforeCreate () {
    registerModule(ReviewModule)
    registerModule(RecentlyViewedModule)
  },
  data () {
    return {
      detailsOpen: false,
      maxQuantity: 0,
      quantityError: false,
      isStockInfoLoading: false,
      hasAttributesLoaded: false,
      manageQuantity: true,
      saveUptoProduct: []
    }
  },
  computed: {
    ...mapGetters({
      getCurrentCategory: 'category-next/getCurrentCategory',
      getCurrentProduct: 'product/getCurrentProduct',
      getProductGallery: 'product/getProductGallery',
      getCurrentProductConfiguration: 'product/getCurrentProductConfiguration',
      getOriginalProduct: 'product/getOriginalProduct',
      attributesByCode: 'attribute/attributeListByCode',
      getCurrentCustomOptions: 'product/getCurrentCustomOptions'
    }),
    getOptionLabel () {
      return (option) => {
        const configName = option.attribute_code ? option.attribute_code : option.label.toLowerCase()
        return this.getCurrentProductConfiguration[configName] ? this.getCurrentProductConfiguration[configName].label : configName
      }
    },
    isOnline (value) {
      return onlineHelper.isOnline
    },
    structuredData () {
      return {
        availability: this.getCurrentProduct.stock && this.getCurrentProduct.stock.is_in_stock ? 'InStock' : 'OutOfStock'
      }
    },
    getProductOptions () {
      if (
        this.getCurrentProduct.errors &&
        Object.keys(this.getCurrentProduct.errors).length &&
        Object.keys(this.getCurrentProductConfiguration).length
      ) {
        return []
      }
      return this.getCurrentProduct.configurable_options
    },
    getOfflineImage () {
      return {
        src: this.getThumbnail(this.getCurrentProduct.image, config.products.thumbnails.width, config.products.thumbnails.height),
        error: this.getThumbnail(this.getCurrentProduct.image, config.products.thumbnails.width, config.products.thumbnails.height),
        loading: this.getThumbnail(this.getCurrentProduct.image, config.products.thumbnails.width, config.products.thumbnails.height)
      }
    },
    getCustomAttributes () {
      return Object.values(this.attributesByCode).filter(a => {
        return a.is_visible && a.is_user_defined && (parseInt(a.is_visible_on_front) || a.is_visible_on_front === true) && this.getCurrentProduct[a.attribute_code]
      }).sort((a, b) => { return a.attribute_id > b.attribute_id })
    },
    getAvailableFilters () {
      return getAvailableFiltersByProduct(this.getCurrentProduct)
    },
    getSelectedFilters () {
      return getSelectedFiltersByProduct(this.getCurrentProduct, this.getCurrentProductConfiguration)
    },
    isSimpleOrConfigurable () {
      return ['simple', 'configurable'].includes(this.getCurrentProduct.type_id)
    },
    isAddToCartDisabled () {
      if (this.quantityError || this.isStockInfoLoading) {
        return false
      }

      return this.isOnline && !this.maxQuantity && this.manageQuantity && this.isSimpleOrConfigurable
    },
    getBrandName () {
      let product = this.getCurrentProduct;
      let brand = '';
      this.attributesByCode.brand.options.forEach(option => {
        if (parseInt(option.value) === product.brand) {
          brand = option.label;
        }
      });
      return brand;
    },
    getUnit () {
      let product = this.getCurrentProduct;
      let unit = '';
      this.attributesByCode.unit.options.forEach(option => {
        if (parseInt(option.value) === product.unit) {
          unit = option.label;
        }
      });
      return unit;
    },
    getUnitLabel () {
      let product = this.getCurrentProduct;
      return this.getUnit;
    },
    getWeight () {
      let product = this.getCurrentProduct;
      return (product.weight < 1) ? product.weight * 1000 : product.weight;
    },
    noOfReviews () {
      return (this.$store.state.review.items.items) ? this.$store.state.review.items.items.length : 0
    },
    getRatings () {
      let ratings = 0;
      let i;
      let reviews = this.$store.state.review.items.items;
      if (reviews) {
        for (i in reviews) {
          let item = reviews[i];
          ratings += parseInt(item.ratings);
        }
      }
      return (reviews && reviews.length && ratings > 0) ? Math.round(ratings / reviews.length) : 0;
    }
  },
  async mounted () {
    await this.$store.dispatch('recently-viewed/addItem', this.getCurrentProduct)
  },
  async asyncData ({ store, route, context }) {
    if (context) context.output.cacheTags.add('product')
    const product = await store.dispatch('product/loadProduct', { parentSku: route.params.parentSku, childSku: route && route.params && route.params.childSku ? route.params.childSku : null })
    const loadBreadcrumbsPromise = store.dispatch('product/loadProductBreadcrumbs', { product })
    if (isServer) await loadBreadcrumbsPromise
    catalogHooksExecutors.productPageVisited(product)
  },
  beforeRouteEnter (to, from, next) {
    if (isServer) {
      next()
    } else {
      next((vm) => {
        vm.getQuantity()
      })
    }
  },
  watch: {
    isOnline: {
      handler (isOnline) {
        if (isOnline) {
          this.getQuantity()
        }
      }
    }
  },
  filters: {
    formatDate: function (value) {
      if (value) {
        var d = new Date(value);
        return d.getDate() + '/' + d.getMonth() + '/' + d.getFullYear();
      }
    }
  },
  methods: {
    showDetails (event) {
      this.detailsOpen = true
      event.target.classList.add('hidden')
    },
    notifyOutStock () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t(
          'The product is out of stock and cannot be added to the cart!'
        ),
        action1: { label: this.$t('OK') }
      })
    },
    notifyWrongAttributes () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t(
          'No such configuration for the product. Please do choose another combination of attributes.'
        ),
        action1: { label: this.$t('OK') }
      })
    },
    changeFilter (variant) {
      this.$bus.$emit(
        'filter-changed-product',
        Object.assign({ attribute_code: variant.type }, variant)
      )
      this.getQuantity()
    },
    openSizeGuide () {
      this.$bus.$emit('modal-show', 'modal-sizeguide')
    },
    isOptionAvailable (option) { // check if the option is available
      const currentConfig = Object.assign({}, this.getCurrentProductConfiguration)
      currentConfig[option.type] = option
      return isOptionAvailableAsync(this.$store, { product: this.getCurrentProduct, configuration: currentConfig })
    },
    async getQuantity () {
      if (this.isStockInfoLoading) return // stock info is already loading
      this.isStockInfoLoading = true
      try {
        const res = await this.$store.dispatch('stock/check', {
          product: this.getCurrentProduct,
          qty: this.getCurrentProduct.qty
        })

        this.manageQuantity = res.isManageStock
        this.maxQuantity = res.isManageStock ? res.qty : null
      } finally {
        this.isStockInfoLoading = false
      }
    },
    handleQuantityError (error) {
      this.quantityError = error
    }
  },
  metaInfo () {
    const storeView = currentStoreView()
    return {
      link: [
        { rel: 'amphtml',
          href: this.$router.resolve(localizedRoute({
            name: this.getCurrentProduct.type_id + '-product-amp',
            params: {
              parentSku: this.getCurrentProduct.parentSku ? this.getCurrentProduct.parentSku : this.getCurrentProduct.sku,
              slug: this.getCurrentProduct.slug,
              childSku: this.getCurrentProduct.sku
            }
          }, storeView.storeCode)).href
        }
      ],
      title: htmlDecode(this.getCurrentProduct.meta_title || this.getCurrentProduct.name),
      meta: this.getCurrentProduct.meta_description ? [{ vmid: 'description', name: 'description', content: htmlDecode(this.getCurrentProduct.meta_description) }] : []
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-tertiary: color(tertiary);
$color-secondary: color(secondary);
$color-white: color(white);
$color-green: color(green-95BF47);
$bg-secondary: color(secondary, $colors-background);
$black-2D242D: color(black-2D242D);

.product-top-section {
  .product-title-sec {
    .btn-add-to-cart {
      min-width: unset;
      background:$black-2D242D;
      border-radius: 4px;
      border: 1px solid $black-2D242D !important;
      color: $color-white;
      line-height: 1;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  .media-gallery {
    align-items: flex-start;
  }
}

.product {
  &__add-to-compare {
    display: none;
    @media (min-width: 767px) {
      display: block;
    }
  }
}

.breadcrumbs {
  @media (max-width: 767px) {
    margin: 15px 0;
    padding: 15px 0 0 15px;
  }
}

.error {
  color: red;
  font-weight: bold;
  padding-bottom: 15px;
}

.product-name {
  @media (max-width: 767px) {
    font-size: 28px;
    margin-bottom: 10px;
  }
}

.variants-label {
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.variants-wrapper {
  @media (max-width: 767px) {
    padding-bottom: 30px;
  }

  .sizes {
    @media (max-width: 767px) {
      width: 100%;
    }
  }

  .size-guide {
    height: 40px;
    @media (max-width: 767px) {
      width: 100%;
      margin-left: 0;
    }
  }
}

.product-top-section {
  @media (max-width: 767px) {
    padding: 0;
  }
}

.add-to-buttons {
  @media (max-width: 767px) {
    padding-top: 30px;
  }
}

.details {
  @media (max-width: 767px) {
    padding: 50px 15px 15px;
  }
}

.details-title {
  padding: 0 8px;

  @media (max-width: 767px) {
    font-size: 18px;
    margin: 0;
  }
}

.details-wrapper {
  @media (max-width: 767px) {
    position: relative;
    max-height: 140px;
    overflow: hidden;
    transition: all 0.3s ease;
    font-size: 14px;
  }

  &--open {
    max-height: none;
  }
}

.details-overlay {
  @media (max-width: 767px) {
    position: absolute;
    height: 75%;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    cursor: pointer;
    background: linear-gradient(rgba($color-white, 0), rgba($color-white, 1));
    &.hidden {
      display: none;
    }
  }
}

.action {
  &:hover {
    color: $color-tertiary;
  }
}

.attributes {
  list-style-type: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.product-image {
  mix-blend-mode: multiply;
  width: 460px;
}

.web-share {
  float: right;
}
.max190{
  max-width: 190px;
}

.category-values {
  border: 1px solid #E5E6EC;
  padding: 5px 10px;
  margin-right: 15px;
}

</style>
