<template>
  <cms-block :identifier="'under-banner-shipping-info'" />
</template>
<script>
import CmsBlock from 'theme/components/core/blocks/Cms/Block'
export default {
  name: 'ShippingInfo',
  components: {
    CmsBlock
  }
}
</script>
<style lang="scss">
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
$white: color(white);
$gray-E5E5E5: color(gray-E5E5E5);
.shipping-info {
  justify-content: space-between;
  border-radius: 14px;
  border: 1px solid #E5E5E5;
  box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.15);
  background: rgba($white, 0.9);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(50%);
  max-width: 1140px;
  margin: 0 auto;
  z-index: 1;
  .ship-inside {
    padding: 0px 6%;
    @media (max-width: 991px) {
      padding: 0px 20px;
    }
  }
  @media (max-width: 1200px) {
    margin: 0 25px;
  }
  @media (max-width: 767px) {
    flex-direction: column;
    margin: 0 50px;
    padding: 0px 25px 0px 25px;
    .ship-inside {
      padding: 25px 0px 25px 0px;
    }
  }
}
.ship-content {
  margin-left: 20px;
  p {
    padding: 0;
    margin: 0;
  }
  @media (max-width: 767px) {
    p:nth-child(2) {
      font-size: 14px;
    }
  }
}
</style>
