<template>
  <div class="container mg-cms-block">
    <div class="imagewithtext">
      <cms-block :identifier="'image_with_text'" />
    </div>
  </div>
</template>
<script>
import CmsBlock from 'theme/components/core/blocks/Cms/Block'
export default {
  name: 'HomeImageWithText',
  components: {
    CmsBlock
  }
};
</script>
<style lang="scss" scoped>
</style>
