<template>
  <div class="container mb10">
    <cms-block :identifier="'homepage-promo-block'" />
  </div>
</template>
<script>
import CmsBlock from 'theme/components/core/blocks/Cms/Block'
export default {
  name: 'HomeStaticBlock',
  components: {
    CmsBlock
  }
};
</script>
<style lang="scss">
.gallery {
  line-height: 0;
   -webkit-column-count: 2;
   -webkit-column-gap:   40px;
   -moz-column-count:    2;
   -moz-column-gap:      40px;
   column-count:         2;
   column-gap:           40px;
}

.gallery__img {
 width: 100% !important;
  height: auto !important;
  margin-bottom: 40px;
  @media (max-width: 767px) {
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .gallery {
   -webkit-column-count: 1;
   -moz-column-count:    1;
   column-count:         1;
  }
}

</style>
