<template>
  <div class="newsletter py40 px15 bg-cl-green-F2FDB5">
    <div class="container">
      <div class="row py25 around-md middle-md">
        <div class="col-md-5 col-xs-9 sub-text">
          <h3 class="p0 m0 f-s-31 cl-black-2D242D a-bold">
            {{ $t('Get our latest offers and news straight in your inbox') }}
          </h3>
        </div>
        <div class="newsletter-form col-md-6 col-xs-12 p0">
          <newsletter-form />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SubscriptionStatus from '@vue-storefront/core/modules/newsletter/mixins/SubscriptionStatus'
// import ButtonOutline from 'theme/components/theme/ButtonOutline'
import NewsletterPopup from 'theme/components/core/NewsletterPopup'
import NewsletterForm from 'theme/components/core/blocks/Footer/NewsletterForm'
import { mapState } from 'vuex'

export default {
  name: 'Newsletter',
  mixins: [SubscriptionStatus],
  data () {
    return {
      loadNewsletterPopup: false
    }
  },
  computed: {
    ...mapState({
      isOpen: state => state.ui.newsletterPopup
    })
  },
  components: {
    NewsletterForm
    // ButtonOutline
  }
}
</script>

<style scoped>
.newsletter-form, .sub-text {
  z-index: 1;
}
@media (min-width: 767px) and (max-width: 1200px){
    .button-outline{
      min-width: 100%;
    }
  }
  @media (max-width: 767px) {
    h3 {
      font-size: 20px;
      padding-bottom: 30px;
    }
  }
</style>
