@import '../blocks/header';
@import '../blocks/footer';
@import '../blocks/ShopByLifestyle';
@import '../blocks/ShopByCategory';
@import '../blocks/imagewithtext';
@import '../blocks/VueCarousel';
@import '../blocks/ProductDetails';

/* Product Listing */
@import '../blocks/sidebar';
$green: color(green-95BF47);
$white: color(white);
$black-EAEAEC: color(black-EAEAEC);
$black-2D242D: color(black-2D242D);

$body-font: "noto-sans";

*{
  box-sizing: border-box;
}
:focus {
  outline: 0 none;
}
::-moz-selection {
  color: $white;
  background: $green;
}
::selection {
  color: $white;
  background: $green;
}
input::placeholder {
  color: #2D242D;
}
select {
  appearance: none;
  padding: 14px 28px 14px 15px;
  line-height: 1;
  background-image: url(../assets/icons/down-arrow.svg);
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: right 3px center;
}

.select1{
  font-size: 14px;
  border: 1px solid #D8D8D8;
  border-radius: 6px;
  background-color: transparent;
  margin-right: 0;
  font-weight: 500;
  min-width: 75px;
  background: $white url(/assets/icons/down-arrow2.svg) no-repeat right 10px center;
  &:focus {
    outline: none;
  }
}
.mb50 {
  margin-bottom: 50px;
}
.bordr-none {
  border: 0;
}
.custom-carousel {
  .product {
    width: auto !important;
  }
  .product-image--width{
    .product-image__thumb {
      width: auto !important;
      height: 100% !important;
    }
  }
}
.VueCarousel-dot,
.VueCarousel-navigation-button {
  &:focus {
    outline: 0 none !important;
  }
}
.a-regular {
  font-weight: 500;
}
/*.a-bold {
}*/
.a-light {
  font-weight: 400;
}
.a-medium {
  font-weight: 500;
}
.align-right{
  text-align: right;
}
select,
input,
textarea{
  font-family:$body-font;
}

.img-cover {
  font-family: "object-fit: cover;";
  object-fit: cover;
  width: 100%;
  display: block;
}

.btn-fill {
  background-color: $black-2D242D;
  color: $white;
  border: 1px solid $black-2D242D;
  /*&:hover {
    background-color: transparent;
    color: $green;
    border: 1px solid $green;
  }*/
}
.btn-secondary{
  width:auto;
  padding:13px 40px;
  font-weight: 600;
  text-transform: uppercase;
}
.block-title{
  background: url(../assets/title-bg.svg) no-repeat center;
  line-height: 2.2;
  text-transform: uppercase;
}
.h-space{
  width: 1px;
  height: 55px;
  background: rgba(45,36,45,0.3);
  @media (max-width: 767px) {
    background: rgba(45,36,45,0.15);
    width: 100%;
    height: 1px;
  }
  
}

.arrow {
  border: solid #4f4f4f;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-bottom: -3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-top: -3px;
}
.custom-carousel{
  .product{
    padding-top: 0;
    padding-bottom: 0;
  }
}
.wishlist-icon{
  border-radius: 4px;
  display: inline-block;
  padding: 8px;
  img{
    vertical-align: middle;
  }
}
hr{
  background: #E5E5E5;
  height: 1px;
  border: 0px;
}
.VueCarousel-navigation-button.VueCarousel-navigation-prev{
  img{
    transform: rotate(180deg);
  }
}
.breadcrumbs{
  .home-icon{
    img{
      margin-bottom: -2px;
    }
  }
}
.border-r{
  border-radius: 6px;
}
.wishlist-btn{
  background: transparent;
  border: 1px solid $black-2D242D;
  border-radius: 4px;
  line-height:0;
  padding: 8px;
}
.shaded-box{
  border-radius: 6px;
  background-color: #fff;
  padding: 40px;
}
.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  width: auto;
}
.check-box{
  .help{
    vertical-align: middle;
    margin: -2px 0 0 7px;
  }
}


/* product-slider */
$color-primary: color(primary);
$color-secondary: color(secondary);
$gray-D8D8D8: color(gray-D8D8D8);

.product-listing-carousel-wrap{
  .product-listing-carousel{
    position:relative;
    padding:0 30px;
    .product{
      border-radius:6px;
    }
  }
  .swiper-button-prev,
  .swiper-button-next{
    position: absolute;
    top: 50%;
    margin-top: -8px;
    cursor: pointer;
    &.swiper-button-disabled{
      opacity: 0.7;
    }
  }
  .swiper-button-prev{
    left: -30px;
    transform: rotate(180deg);
  }
  .swiper-button-next{
    right: -30px;
  }
  @media (max-width: 1080px) {
    .swiper-button-prev,
    .swiper-button-next{
      display:none;
    }
    .product-listing-carousel{
      padding:0px;
    }
  }
  @media (max-width: 680px) {
    .container{
      max-width:100%;
      .product-listing-carousel{
        padding:0px;
        max-width:60%;
        margin:0 auto;
        .swiper-container{
          overflow:inherit;
          .swiper-slide{
            max-width:100%;
          }
        }
      }
    }
    &.category-square,
    &.category-circle{
      .product-listing-carousel{
        max-width:40%;
        .swiper-container{
          .swiper-slide{
            .category-item{
              p{
                padding-bottom:15px;
              }
            }
          }
        }
      }
    }
  }
}
.product-listing-carousel-wrap{
  padding-top:50px;
  padding-bottom:50px;
  &.best-seller-products{
    padding-top:0px;
  }
  @media (max-width: 767px) {
    padding-top:30px;
    padding-bottom:30px;
  }
}
.product-listing-carousel-wrap + .product-listing-carousel-wrap{
  padding-top:0;
}

.product-listing-carousel {
  .swiper-slide {
    .product-image {
      min-height: 200px;
    }
  }

  .swiper-button-prev, .swiper-button-next {
    color: $gray-D8D8D8;
    width: 14px;
    height: 23px;

    svg {
      path {
        transition: all 0.3s ease 0s;
      }
    }

    &:hover {
      svg {
        path {
          stroke: $color-secondary;
        }
      }
    }

    &::after {
      display: none;
    }
  }
}
@media (max-width: 767px) {
  #product{
    .product-top-section{background: none;}
    .product-thumb-slider{ background: #fff; padding: 15px;}
    .product-thumb-slider {flex-wrap: wrap;}
    .swiper-container-vertical > .swiper-wrapper {flex-direction: row;}
    .product-thumb-slider .thumb-slider-left {padding-right:0px;flex: inherit;max-width: inherit; width: 100%;order: 2;padding-top: 10px;}
    .product-thumb-slider .thumb-slider-right {flex-basis: inherit;max-width: inherit;width: 100%;}
    .product-thumb-slider {max-height:inherit;}
  }
}



@media (min-width: 767px) {
  .d-flex{
    display: flex;
  }
}
@media (max-width: 767px) {
  .container{
    padding-left: 15px;
    padding-right: 15px;
  }
  .block-title{
    font-size: 16px;
    background-size: auto 40px;
    line-height:1.4;
    padding:10px 0;
    margin-bottom:30px;
  }
  .top-header{
    .second{
      display: none;
    }
  }
}

.ar-home{
  direction: rtl;
  .thumb-slider-top {
    direction: ltr;
  }
  .media-zoom-carousel__container{
    direction: ltr;
  }
  .qty-element{
    direction: ltr;
    margin-left: 10px;
    margin-right: 10px;
  }
  .product-listing-carousel {
    direction: ltr;
    .product {
      direction: rtl;
    }
  }
  .product-listing{
    direction: ltr;
    .product{
      direction: rtl;
    }
  }
  .microcart{
    ul.products{
      .cart-item{
        > .flex-wrap{
          padding-left: 0;
          padding-right: 15px;
        }
      }
    }
    .prices{
      margin-right: 0;
    }
  }
  .country-drop-box{
    .country-drop-title:after{
      position: absolute;
      right: -3px;
      top: 8px;
    }
    .country-drop-content ul li img{
      margin-left: 5px;
      margin-right: 0;
    }
  }
  .dropdown{
    .accounts img{
      padding-left: 9px;
      padding-right: 0;
    }
    .dropdown-content{
      a{
        text-align: right;
      }
    }
  }
  .cart-btn div span{
    padding-right: 3px;
    padding-left: 0px;
  }
  .search-group{
    padding-right: 15px;
  }
  .search-result-block{
    .search-table{
      tr{
        td{
          padding-right: 10px;
          padding-left: 10px;
          .s-p-name{
            text-align: right;
          }
        }
      }
    }
  }
  .shipping-info{
    justify-content: center;
    .ship-content{
      margin-right: 20px;
      margin-left: 0;
    }
  }
  .qty-addtocart{
    .cart-btn{
      padding-left: 8px;
      padding-right: 0;
    }
  }
  .search-lists .search-result-block::after{
    left: auto;
    right: 165px;
  }
  .menu-header-links ul.menu-links li.menu-item{
    margin-left: 5px;
    margin-right: 0;
    a.menu-link{
      padding-left: 11px;
      padding-right: 0;
    }
  }
  .imagewithtext{
    .row{
      button{
        span{
          transform: rotate(180deg);
        }
      }
    }
  }
  .footer-block{
    .block-1{
      text-align: right;
      .site-info{
        p{
          span{
            padding-left: 5px;
            padding-right: 0;
          }
        }
      }
      .social-icon{
        a{
          padding-left: 15px;
          padding-right: 0px;
        }
      }
    }
    .payment-info{
      max-width: 220px;
      text-align: right;
      img{
        margin-left: 4px;
        margin-right: 0px;
      }
    }
  }
  .footer-links{
    .fcontent-1,
    .fcontent-2{
      border-left: 0;
      border-right: 1px solid rgba(255, 255, 255, 0.15);
      padding-left: 0;
      padding-right: 30px;
    }
  }
  .select1{
    background: #fff url(/assets/icons/down-arrow2.svg) no-repeat left 10px center;
    padding: 14px 15px 14px 20px;
  }
  .sorting{
    label{
      margin-left: 10px;
      margin-right: 0;
      padding-left: 0;
      padding-right: 10px;
    }
  }
  .sidebar__inline-selecors{
    > div{
      margin-right: 0;
      .selector{
        margin-right: 0;
        margin-left: 10px;
      }
    }
  }
  .pull-right{
    float: left;
  }
  .product-top-section{
    .product-quantity{
      .base-input-number{
        input{
          margin-left: 15px;
          margin-right: 0;
        }
      }
    }
    .wishlist-button{
      padding-right: 15px;
      padding-left: 0;
    }
  }
  .product-reviews{
    .arrow{
      margin-right: 10px;
      margin-left: 0;
      &.right{
        transform: rotate(-225deg);
      }
    }
  }
  .comments{
    .item{
      .user-info{
        padding-left: 0px;
        padding-right: 30px;
        p{
          text-align: right;
        }
      }
    }
  }
  .product-reviews{
    .review-form{
      h4{
        text-align: right;
      }
      p{
        text-align: right;
      }
    }
  }
  #my_account{
    .static-menu{
      ul{
        li{
          a:before{
            margin-left: 15px;
            margin-right: 0;
          }
        }
      }
    }
    .account-information{
      margin-right: 30px;
      margin-left: 0;
      .ma-title-row{
        h3{
          img{
            padding-left: 15px;
            padding-right: 0px;
          }
        }
        .no-underline{
          i{
            margin-left:10px;
            margin-right:0px;
          }
        }
      }
      .material-icons{
        margin-left: 10px;
        margin-right: 0;
      }
    }
  }
  .edit-my-profile,
  .address-book{
    label.pointer{
      padding-right: 30px;
      padding-left: 0;
      &:before{
        left: inherit;
        right: 0;
      }
    }
    .acc-btn-container{
      a{
        margin-right: 20px;
        margin-left: 0;
      }
    }
  }
  .account-newsletter{
    label{
      padding-right: 30px;
      padding-left: 0;
      &:before{
        left: inherit;
        right: 0;
      }
    }
  }
  .check-box{
    label{
      padding-right: 30px;
      padding-left: 0;
      &:before{
        left: inherit;
        right: 0;
      }
    }
  }
  input:checked + label[data-v-d8aa1af6]:after{
    left:inherit;
    right:3px;
  }
  .order-status{
    margin-right: 15px;
    margin-left: 0;
  }
  #my_account{
    .order-address{
      .shipping-address{
        margin-left: 30px;
        margin-right: 0px;
      }
      .billing{
        padding-left: 8px;
        padding-right: 25px;
      }
      .shipping{
        padding-left: 25px;
        padding-right: 8px;
      }
    }
  }
  .microcart{
    .shopping-back{
      transform: rotate(180deg);
    }
    .coupon-wrapper{
      .coupon-input{
        margin-right: 0;
        margin-left: 20px;
      }
    }
    .summary{
      .align-right{
        text-align: left;
      }
    }
    .retun-ship{
      margin-left: 20px;
      margin-right: 0;
    }
  }
  .order-summary-wrap{
    right: inherit;
    left: 0;
    .checkout{
      .align-right{
        text-align: left;
      }
    }
  }
  #checkout{
    .checkout-details{
      margin-right: 0px;
    }
    .line:after{
      left: inherit;
      right: 16px;
    }
    .radio1{
      .radioStyled{
        .checkmark{
          padding: 8px 20px 0 0;
        }
      }
    }
    .edit-icon{
      padding-left: 15px;
      padding-right: 0;
    }
  }
  .sidebar-menu{
    .login-info{
      justify-content: space-between;
      .user-img{
        margin: 0 0 0 0;
      }
      .user-gn{
        width: 60%;
      }
      .user-setting{
        margin: 0 0 0 0;
      }
    }
    .subcategory-item{
      .material-icons{
        transform: rotate(180deg);
      }
    }
    .back-btn{
      .material-icons{
        transform: rotate(180deg);
      }
    }
    .sidebar-submenu{
      li{
        a{
          padding:15px 30px;
        }
        .material-icons{
          transform: rotate(180deg);
        }
      }
    }
  }
  .close-container{
    left: 10px;
    right: auto;
  }
  @media (max-width: 1770px){
    .newsletters{
      .img-left{
        left: -100px;
      }
      .img-right{
        right: -100px;
      }
    }
  }
  @media (max-width: 1460px){
    .newsletters{
      .img-left{
        left: -150px;
      }
      .img-right{
        right: -150px;
      }
    }
  }
  @media (max-width: 1280px){
    right: 11px;
    .order-summary-wrap{
      padding-top: 200px;
    }
  }
  @media (max-width: 992px){
    .mobile-header{
      .head-left{
        .hambergur-icon{
          padding: 0 0 0 0;
        }
      }
    }
    footer{
      .footer-block{
        .block-4{
          .payment-info{
            p{
              text-align: right;
            }
          }
        }
      }
    }
    .newsletters{
      .img-left{
        left: -200px;
      }
      .img-right{
        right: -200px;
      }
    }
  }
  @media (max-width: 767px){
    #my_account{
      .account-information{
        margin-left: auto;
        margin-right: auto;
      }
      .mobile-menu{
        span{
          padding-right:10px;
        }
      }
      .mw-140{
        min-width: 105px;
      }
      .account-menu{
        .static-menu{
          ul{
            li{
              a{
                &:before{
                  position: relative;
                }
              }
            }
          }
        }
      }
    }
    .newsletter-field{
      margin-left: 10px;
      margin-right: 0;
    }
  }
  .select-wrapper{
    &:after{
      right: inherit;
      left: 10px;
    }
  }
}
